
/*animation*/
.ng-enter:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-enter-active:not(.animated) {
    opacity: 1;
}

.ng-leave:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-leave-active:not(.animated) {
    opacity: 0;
    transform: translate3d(0, 0, 0);
}

.showMe {
    display: block;
    opacity: 1;
    top: 100px;
    overflow: visible;
}

.hide {
    display: none;
}

/*scroll*/
::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px; /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #777; /*bar color*/
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #ccc; /*background color*/
}

