<div class="wrapper" id="main">
    <div ui-view="menu"></div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Edit Gallery</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <!-- Start Breadcrumbs -->
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#/galleries">Galleries</a></li>
                            <li><a href="#/Item">Edit Gallery</a></li>
                            <li><a href="#/items">Gallery Items</a></li>
                            <li class="active">Edit Item</li>
                        </ol>
                    </div>
                </div>
                <!-- End Breadcrumbs -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" data-background-color="orange">
                                <h4 class="title">Edit Item</h4>
                                <p class="category">Edit your Item</p>
                            </div>
                            <div class="card-content">
                                <form name="frmItem" novalidate>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group label-floating is-empty ">
                                                <label class="control-label">Item Name</label>
                                                <input type="text" class="form-control"  ng-model="item.Title" name="itemTitle" id="itemTitle" required pattern="^.{1,30}$">
                                                <span ng-show="frmItem.itemTitle.$dirty && frmItem.itemTitle.$invalid">
                                                    <span class="errorFont" ng-show="frmItem.itemTitle.$error.required">Required</span>
                                                    <span class="errorFont" ng-show="frmItem.itemTitle.$error.pattern">Title is too long</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty ">
                                                <label class="control-label">About Me</label>
                                                <textarea class="form-control" rows="3" ng-model="item.Description" name="itemDescription" id="itemDescription" required pattern="^.{1,150}$"></textarea>
                                                <span ng-show="frmItem.itemDescription.$dirty && frmItem.itemDescription.$invalid">
                                                    <span class="errorFont" ng-show="frmItem.itemDescription.$error.required">Required</span>
                                                    <span class="errorFont" ng-show="frmItem.itemDescription.$error.pattern">Description is too long</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" ng-disabled="frmItem.$invalid" ng-click="updateObj()" class="btn btn-primary pull-right">Update Item</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-chart">
                                <img src="img/cover.jpeg">
                            </div>
                            <div class="card-content">
                                <h4 class="title">{{item.Title}}</h4>
                                <p class="category">{{item.Description}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    View Items
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Picture Of item -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6" ng-repeat="picture in item">
                        <div class="card">
                            <div class="card-header card-chart">
                                <img src="img/cover.jpeg" ng-model="picture.DisplayPicture">
                            </div>
                            <div class="card-content">
                                <h4 class="title">{{picture.Title}}</h4>
                                <p class="category">{{picture.Description}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-cogs" aria-hidden="true"></i> Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg1"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- Start Picture Of item -->
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> <a href="http://appout.co">AppOut.LLC</a> | Built By Craftsmen
                </p>
            </div>
        </footer>
    </div>
</div>
<!-- Start Modal add pic -->
<div class="modal fade bs-example-modal-lg1" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Picture</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header" data-background-color="orange">
                                        <h4 class="title">Creat Picture</h4>
                                        <p class="category">Creat A New Picture</p>
                                    </div>
                                    <div class="card-content">
                                        <form name="frmAddPic" novalidate>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Picture Name</label>
                                                        <input type="text" class="form-control" ng-model="picture.addTitle" name="picAddTitle" id="picAddTitle" required pattern="^.{1,30}$">
                                                        <span ng-show="frmAddPic.picAddTitle.$dirty && frmAddPic.picAddTitle.$invalid">
                                                            <span class="errorFont" ng-show="frmAddPic.picAddTitle.$error.required">Required</span>
                                                            <span class="errorFont" ng-show="frmAddPic.picAddTitle.$error.pattern">Title is too long</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating is-empty ">
                                                            <label class="control-label"> About Picture</label>
                                                            <textarea class="form-control" rows="3" ng-model="picture.addDescription" name="picAddDescription" id="picAddDescription" required pattern="^.{1,150}$"></textarea>
                                                            <span ng-show="frmAddPic.picAddDescription.$dirty && frmAddPic.picAddDescription.$invalid">
                                                                <span class="errorFont" ng-show="frmAddPic.picAddDescription.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddPic.picAddDescription.$error.pattern">Description is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header card-chart">
                                        <img src="img/cover.jpeg">
                                    </div>
                                    <div class="card-content">
                                        <h4 class="title">{{picture.addTitle}}</h4>
                                        <p class="category">{{picture.addDescription}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" ng-disabled="frmAddPic.$invalid" ng-click="saveObj()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Start Modal edite pic -->
<div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edite Picture</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header" data-background-color="orange">
                                        <h4 class="title">Edite Picture</h4>
                                        <p class="category">Edite Picture</p>
                                    </div>
                                    <div class="card-content">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Picture Name</label>
                                                        <input type="text" class="form-control" ng-model="picture.Title" name="picTitle" id="picTitle" required pattern="^.{1,30}$">
                                                        <span ng-show="frmItem.picTitle.$dirty && frmItem.picTitle.$invalid">
                                                            <span class="errorFont" ng-show="frmItem.picTitle.$error.required">Required</span>
                                                            <span class="errorFont" ng-show="frmItem.picTitle.$error.pattern">Title is too long</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-group label-floating is-empty">
                                                            <label class="control-label"> About Picture</label>
                                                            <textarea class="form-control" rows="3" ng-model="picture.Description" name="picDescription" id="picDescription" required pattern="^.{1,150}$"></textarea>
                                                            <span ng-show="frmPic.picDescription.$dirty && frmPic.picDescription.$invalid">
                                                                <span class="errorFont" ng-show="frmPic.picDescription.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmPic.picDescription.$error.pattern">Description is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header card-chart">
                                        <img src="img/cover.jpeg">
                                    </div>
                                    <div class="card-content">
                                        <h4 class="title">{{picture.Title}}</h4>
                                        <p class="category">{{picture.Description}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" ng-disabled="frmPic.$invalid" ng-click="editeObj()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->