<div class="image-container set-full-height pageLogin" style="background-image: url(&quot;img/wizard.jpg&quot;); height: auto;background-size:cover;">

    <a class="made-with-mk">
        <div class="brand"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        <div class="made-with">Made with <strong>AppOut</strong></div>
    </a>

    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <!--      Wizard container        -->
                <div class="wizard-container">

                    <div class="card wizard-card" data-color="orange" id="wizardProfile">
                        <form action="" method="" novalidate="novalidate">
                            <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                            <div class="wizard-header">
                                <h3>
                                    <b>LOGIN</b> PAGE <br>
                                    <small>This information will let us know more about you.</small>
                                </h3>
                            </div>

                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                    <li style="width: 100%;" class="active"><a href="#/login" data-toggle="tab" aria-expanded="true">Log in</a></li>
                                </ul>

                                <div class="moving-tab" style="width: 100%; transform: translate3d(0px, 0px, 0px); transition: all 0.3s ease-out;">Log in</div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="login">
                                    <div class="row">
                                        <h4 class="info-text"> Let's start with the basic information</h4>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <div class="form-group">
                                                <label>User Name <small>(required)</small></label>
                                                <input name="username" type="text" class="form-control" placeholder="Mohamed..." required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <div class="form-group">
                                                <label>Password <small>(required)</small></label>
                                                <input name="password" type="password" class="form-control" placeholder="*******" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="link col-sm-8 col-sm-offset-2">
                                            <a href="#/register">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer height-wizard">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-finish btn-fill btn-warning btn-wd btn-sm" name="login" value="login" style="display: inline-block;">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container">
            Made with <i class="fa fa-heart heart"></i><a href="http://appout.co">AppOut.LLC</a>
        </div>
    </div>

</div>