
<div class="sidebar" data-color="purple" data-image="img/sidebar-1.jpg">
    <div class="logo">
        <a href="http://appout.co" class="simple-text">
            AppOut.LLC
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href='#/galleries'>
                    <i class="material-icons">dashboard</i>
                    <p>Galleries</p>
                </a>
            </li>
            <li>
                <a href="#/store">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
        </ul>
    </div>
</div>
