<<<<<<< HEAD
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="/css/material-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!--<link href="/css/demo.css" rel="stylesheet" />-->

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'/>
    <title>Galleries</title>
  </head>

  <body ng-app='egm' ng-controller='galleriesController'>

=======
<% include ../partials/headpages %>
<div ng-controller='galleriesController'>
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href='/eg/g/galleries'>
                            <i class="material-icons">dashboard</i>
                            <p>Galleries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/eg/g/galleries">Galleries</a>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add Gallery</button>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <!-- Start Breadcrumbs -->
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li class="active">Galleries</li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Breadcrumbs -->
                    <div class="row">

                        <% galleries.forEach(function(gallery){ %>
                        <div class="col-md-4">
                            <a href="/eg/g/gallery">
                                <div class="card">
                                    <div class="card-header card-chart">
                                        <img src="<%=gallery.DisplayPicture%>">
                                    </div>
                                    <div class="card-content">
                                        <h4 class="title"><%= gallery.Title %></h4>
                                        <p class="category"><%= gallery.Description %></p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <a href="/eg/g/gallery">
                                                <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>

<<<<<<< HEAD
      <footer class="footer">
        <div class="container-fluid">
          <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://appout.co">AppOut.LLC</a> | Built By Craftsmen
          </p>
        </div>
      </footer>
    </div>
    
=======
    </div>
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
    <!-- Start Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Gallery</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Creat Gallery</h4>
                                            <p class="category">Creat A New Gallery</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddGallery">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Gallery Name</label>
                                                            <input type="text" class="form-control" ng-model="gallery.Title" required pattern="^.{1,35}$" name="galleryTitle" id="galleryTitle">
                                                            <span ng-show="frmAddGallery.galleryTitle.$dirty && frmAddGallery.galleryTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmAddGallery.galleryTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddGallery.galleryTitle.$error.pattern">Gallery name is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label"> About Gallery</label>
                                                                <textarea class="form-control" rows="3" ng-model="gallery.Description" required pattern="^.{1,200}$" name="galleryDesc" id="galleryDesc"></textarea>
                                                                <span ng-show="frmAddGallery.galleryDesc.$dirty && frmAddGallery.galleryDesc.$invalid">
                                                                    <span class="errorFont" ng-show="frmAddGallery.galleryDesc.$error.required">Required</span>
                                                                    <span class="errorFont" ng-show="frmAddGallery.galleryDesc.$error.pattern">Gallery description is too long</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload im-->
                                            <img src="/img/cover.jpeg">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title">{{gallery.Title}}</h4>
                                            <p class="category">{{gallery.Description}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addGallery()" ng-disabled="frmAddGallery.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
<<<<<<< HEAD


    <!--   Core JS Files   -->
    <script src="/js/general/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/general/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/general/material.min.js" type="text/javascript"></script>

    <!--  Notifications Plugin    -->
    <script  type="text/javascript" src="/js/general/bootstrap-notify.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script  type="text/javascript" src="/js/general/material-dashboard.js"></script>

    <!--angular-->
    <script  type="text/javascript" src="/js/general/angular.min.js"></script>

    <!--controller-->
    <script  type="text/javascript" src="/js/controllers/galleriescontroller.js"></script>

  </body>

</html>
=======
</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
