<<<<<<< HEAD
<<<<<<< HEAD
=======
<% include ../partials/headpages %>
<div ng-controller='itemController'>
=======
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="/css/material-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!--<link href="/css/demo.css" rel="stylesheet" />-->

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'/>
    <title>Edit Item</title>
</head>

  <body ng-app='egm' ng-controller='itemController'>

<<<<<<< HEAD
=======
<% include ../partials/headpages %>
<div ng-controller='itemController'>
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
=======
>>>>>>> 744660954fa06ee2b1002a44fe7504f696c5eb2a
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href='/eg/g/galleries'>
                            <i class="material-icons">dashboard</i>
                            <p>Galleries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/eg/p/product">Edit Item</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <!-- Start Breadcrumbs -->
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/eg/g/galleries">Galleries</a>
                                </li>
                                <li>
                                    <a href="/eg/g/gallery">Edit Gallery</a>
                                </li>
                                <li>
                                    <a href="/eg/p/products">Gallery Items</a>
                                </li>
                                <li class="active">Edit Item</li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Breadcrumbs -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Edit Item</h4>
                                    <p class="category">Edit your Item</p>
                                </div>
                                <div class="card-content">
                                    <form name="frmUpdateGallery">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Item Name</label>
                                                    <input type="text" class="form-control" ng-model="item.Title" required name="itemTitle" id="itemTitle" pattern="^.{1,35}$">
                                                    <span ng-show="frmUpdateGallery.itemTitle.$dirty && frmUpdateGallery.itemTitle.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateGallery.itemTitle.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateGallery.itemTitle.$error.pattern">Item name is too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> About Me</label>
                                                        <textarea class="form-control" rows="3" ng-model="item.Desc" required name="itemDesc" id="itemDesc" pattern="^.{1,200}$"></textarea>
                                                        <span ng-show="frmUpdateGallery.itemDesc.$dirty && frmUpdateGallery.itemDesc.$invalid">
                                                            <span class="errorFont" ng-show="frmUpdateGallery.itemDesc.$error.required">Required</span>
                                                            <span class="errorFont" ng-show="frmUpdateGallery.itemDesc.$error.pattern">Item description is too long</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" ng-click="updateItem()" ng-disabled="frmUpdateGallery.$invalid" class="btn btn-primary pull-right">Update Item</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart">
                                    <!--upload img-->
                                    <img src="<%= item.Pictures[0].URL %>">
                                </div>
                                <div class="card-content">
                                    <h4 class="title"><%= item.Name %></h4>
                                    <p class="category"><%= item.Description %></p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        View Items
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Picture Of item -->
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6" ng-repeat="picture in itemPictures">
                            <div class="card">
                                <div class="card-header card-chart">
                                    <img src="{{picture.Img}}">
                                </div>
                                <div class="card-content">
                                    <h4 class="title">{{picture.Title}}</h4>
                                    <p class="category">{{picture.Desc}}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <a type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
                                            <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Picture Of item -->
                </div>
            </div>
            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70
        
        <footer class="footer">
          <div class="container-fluid">
            <p class="copyright pull-right">
              &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://appout.co">AppOut.LLC</a> | Built By Craftsmen
            </p>
          </div>
        </footer>
        
      </div>
<<<<<<< HEAD
=======
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
=======
>>>>>>> 744660954fa06ee2b1002a44fe7504f696c5eb2a
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70
    </div>
    <!-- Start add item Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add New Picture</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Creat Picture</h4>
                                            <p class="category">Creat A New Picture</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddPic" novalidate>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Picture Name</label>
                                                            <input type="text" class="form-control" ng-model="addPic.Title" required name="picTitle" id="picTitle" pattern="^.{1,35}$">
                                                            <span ng-show="frmAddPic.picTitle.$dirty && frmAddPic.picTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmAddPic.picTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddPic.picTitle.$error.pattern">Picture name is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label"> About Picture</label>
                                                                <textarea class="form-control" rows="3" ng-model="addPic.Description" required name="picDesc" id="picDesc" pattern="^.{1,200}$"></textarea>
                                                                <span ng-show="frmAddPic.picDesc.$dirty && frmAddPic.picDesc.$invalid">
                                                                    <span class="errorFont" ng-show="frmAddPic.picDesc.$error.required">Required</span>
                                                                    <span class="errorFont" ng-show="frmAddPic.picDesc.$error.pattern">Picture description is too long</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload img-->
                                            <img src="/img/cover.jpeg">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title">{{addPic.Title}}</h4>
                                            <p class="category">{{addPic.Desc}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addPic()" ng-disabled="frmAddPic.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Start  edit item Modal -->
    <div class="modal fade bs-example-modal-lg1" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Picture</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Edit Picture</h4>
                                            <p class="category">Add A New Picture Details</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmEditePic" novalidate>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Picture Name</label>
                                                            <input type="text" class="form-control" ng-model="editPic.Title" required name="picTitle" id="picTitle" pattern="^.{1,35}$">
                                                            <span ng-show="frmEditePic.picTitle.$dirty && frmEditePic.picTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmEditePic.picTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmEditePic.picTitle.$error.pattern">Picture name is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label"> About Picture</label>
                                                                <textarea class="form-control" rows="3" ng-model="editPic.Desc" required name="picDesc" id="picDesc" pattern="^.{1,200}$"></textarea>
                                                                <span ng-show="frmEditePic.picDesc.$dirty && frmEditePic.picDesc.$invalid">
                                                                    <span class="errorFont" ng-show="frmEditePic.picDesc.$error.required">Required</span>
                                                                    <span class="errorFont" ng-show="frmEditePic.picDesc.$error.pattern">Picture description is too long</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload img-->
                                            <img src="/img/cover.jpeg">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title">{{editPic.Title}}</h4>
                                            <p class="category">{{editPic.Desc}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="fa fa-cogs" aria-hidden="true"></i> Edit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="editePic()" ng-disabled="frmEditePic.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
<<<<<<< HEAD
<<<<<<< HEAD
=======
</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>
=======
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70


    <!--   Core JS Files   -->
    <script src="/js/general/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/general/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/general/material.min.js" type="text/javascript"></script>

    <!--  Notifications Plugin    -->
    <script  type="text/javascript" src="/js/general/bootstrap-notify.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script  type="text/javascript" src="/js/general/material-dashboard.js"></script>

    <!--angular-->
    <script  type="text/javascript" src="/js/general/angular.min.js"></script>

    <!--controller-->
    <script  type="text/javascript" src="/js/controllers/itemcontroller.js"></script>



  </body>

</html>
<<<<<<< HEAD
=======
</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>
>>>>>>> 02b98deeb37e188328ab0642338318af58ccf2c4
=======
>>>>>>> 744660954fa06ee2b1002a44fe7504f696c5eb2a
>>>>>>> 6f418e3e39460de5d1eaa1c8b2752f04a2c8fb70
