.cloudzoom-zoom {
    z-index: 999999 !important;
}

.fancybox-inner {
    overflow: auto !important;
}

.cloudzoom-blank > div:last-child {
    display: none !important;
}

.services-block .container {
        width: 100% !important; 
}

.services-block .container .row {
    display: flex;
}

    .services-block .container .row .divider-right {
        position: relative;
        flex: 1;
        align-items: center;
        align-self: center;
        align-content: center;
    }

        .services-block .container .row .divider-right:after {
            display: none;
        }

        .services-block .container .row .divider-right a {
            border-left: 1px solid #e7e7e7;
        }

.txtStoreName h1 {
    padding: 40px 0;
    text-align: center;
    color: #13757d;
    font-size: 40px;
}

.product-view .large-image img {
    max-height:400px;
}
.maincrumb{
    float:left;
}

h3{
    padding-top:30px;
}

.products-list-small .slides{
    padding-top:10px;
}


.products-list-small.otherStores .slides li img{
        width: auto;
    min-width: 130px;
    height: 130px;
    max-height: 130px;
}

.otherStores .owl-item{
    width: 130px !important;
}




