<!-- Social navbar -->
<section class="content Down nopad-xs socialNavBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-12 newsletter">
                <div class="row">

                    <div class="col-lg-4  col-md-4 col-sm-12 visible-lg hidden-sm hidden-xs">
                        <img src="../../images/logo.png"  alt="Megatron" class="logoImg">
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4 tabBlock" id="TabBlock-1">
                        <h3>CONTACT US </h3>
                        <div class="tabBlock" id="TabBlock-6">
                            <ul class="menu">
                                <li><span class="icon icon-house"></span> End of Al-Ashraf St., El Imam Tower, Tanta, Egypt</li>
                                <li><span class="icon icon-phone-4"></span> 321321321, 321321321</li>
                                <li><span class="icon icon-envelop"></span> <a href="mailto:info@egymerchants.com"> info@egymerchants.com</a></li>
                                <li><span class="icon icon-skype-2"></span> <a href="#"> Egy.Merchants</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <h3>FIND US ON</h3>
                        <div class="tabBlock" id="TabBlock-2">
                            <ul class="find-us">
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-facebook-3"></span></a></li>
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-twitter-3"></span></a></li>
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-linkedin-2"></span></a></li>
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-youtube-3"></span></a></li>
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-pinterest-2"></span></a></li>
                                <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-googleplus-2"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //end Social navbar -->
<!-- Footer -->
<footer>
    <section class="footer-bottom-block container">
        <div class="row">
            <div class="col-sm-5 col-md-4 copyright-text"> &copy; 2017 <a href="#">AppOut</a>. All Rights Reserved. </div>
        </div>
    </section>
</footer>