<!-- Navbar -->
<header class="variant3">

    <!-- Back to top -->
    <div class="back-to-top"><span class="icon-arrow-up-4"></span></div>
    <!-- //end Back to top -->

    <section class="navbar">
        <div class="background">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-welcome pull-left compact-hidden hidden-xs"></div>
                <div class="navbar-logo pull-left"> <a href="#/landing"><img src="../images/logo.png"  alt="Megatron"></a></div>
                <!-- //end Logo -->
                <!-- Secondary menu -->
                <div class="navbar-secondary-menu pull-right hidden-xs">

                    <div class="btn-group compact-hidden">
                        <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> English<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="images/welcome1.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-en">&nbsp;</span> English</a></li>
                            <li><a href="images/welcome2.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-de">&nbsp;</span> Germany</a></li>
                            <li><a href="images/welcome3.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-fr">&nbsp;</span> French</a></li>
                            <li><a href="images/welcome4.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-da">&nbsp;</span> Denmark</a></li>

                        </ul>
                    </div>

                </div>
                <!-- Secondary menu mobile -->
                <div class="navbar-secondary-menu pull-right compact-hidden visible-xs">
                    <div class="btn-group visible-xs">
                        <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> English<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="images/welcome1.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-en">&nbsp;</span> English</a></li>
                            <li><a href="images/welcome2.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-de">&nbsp;</span> Germany</a></li>
                            <li><a href="images/welcome3.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-fr">&nbsp;</span> French</a></li>
                            <li><a href="images/welcome4.jpg" title="Welcome" class="fancybox-gallery"> <span class="icon-flag icon-flag-da">&nbsp;</span> Denmark</a></li>

                        </ul>
                    </div>

                </div>
                <!-- //end Secondary menu -->
                <!-- Search -->
                <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                    <div class="form-group">
                        <button type="submit" class="button"><span class="icon-search-2"></span></button>
                        <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}">
                    </div>
                    <div class="dropdown-search">
                        <ul>
                            <li><a href="#"><span class="amount">12</span>search auto</a></li>
                            <li><a href="#"><span class="amount">22</span>search auto</a></li>
                            <li><a href="#"><span class="amount">2</span>search auto</a></li>
                            <li><a href="#"><span class="amount">45</span>search auto</a></li>
                            <li><a href="#"><span class="amount">11</span>search auto</a></li>
                            <li><a href="#"><span class="amount">4</span>search auto</a></li>
                        </ul>
                    </div>
                </form>
                <!-- //end Search -->
                <!-- Main menu -->
                <dl class="navbar-main-menu hidden-xs">
                    <dt class="item">
                        <ul class="sf-menu">
                            <li>
                                <a href="#/landing" class="btn-main"><span class="icon icon-home"></span></a>
                            </li>
                        </ul>
                    </dt>
                    <dd></dd>
                    <dt class="item"> <a href="#/landing" class="btn-main">Home</a> </dt>
                    <dd></dd>
                </dl>
                <!-- //end Main menu -->
                <!-- Mobile menu -->
                <div class="container visible-xs">
                    <div class="mobile-nav row">

                        <div class="col-xs-6">
                            <dt class="item">
                                <ul class="sf-menu">
                                    <li>
                                        <a href="#" class="btn-main"><span class="icon icon-home"></span></a>
                                    </li>
                                </ul>
                            </dt>
                            <dd></dd>
                            <dt class="item"> <a href="#" class="btn-main">Home</a> </dt>
                            <dd></dd>
                        </div>

                        <div class="search-form col-xs-12">
                            <!-- Search -->
                            <form class="navbar-search form-inline  pull-right" role="form">
                                <div class="form-group">
                                    <button type="submit" class="button"><span class="icon-search-2"></span></button>
                                    <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}">
                                </div>
                                <div class="dropdown-search">
                                    <ul>
                                        <li><a href="#"><span class="amount">12</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">22</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">2</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">45</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">11</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">4</span>search auto</a></li>
                                    </ul>
                                </div>
                            </form>
                            <!-- //end Search -->
                        </div>
                    </div>
                </div>

                <!-- //end Mobile menu -->
            </div>
        </div>

        <!-- Navbar switcher -->
        <div class="navbar-switcher-container">
            <div class="navbar-switcher"> <span class="i-inactive"><img src="images/icon-megatron.png" width="35" height="35" alt=""></span> <span class="i-active icon-cancel-3"></span> </div>
        </div>
        <!-- //end Navbar switcher -->

    </section>

    <!-- Navbar height -->
    <div class="navbar-height-inner"></div>
    <!-- Navbar height -->
    <!-- Navbar height -->
    <div class="navbar-height"></div>
    <!-- Navbar height -->

</header>
<!-- //end Navbar -->