.elements-image-table-example {
  .thumb-cell
  
  {
    max-width: 104px;
    width: 104px;
    padding: 16px 32px;

    div {
      overflow:hidden;
      width: 60px;
      height: 60px;
     // border-radius: 20px;
      border: 1px solid rgba(0,0,0,0.2);
      background-size: cover;
      box-shadow: 0 8px 10px rgba(0,0,0,.3);
    }
	
  }
}
h3,h4,{
padding-left: 32px
	}
md-input-container.md-block {
	max-width:100%;
	}

	.md-button.md-fab {
    z-index: 20;
    line-height: 56px;
    min-width: 0;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition-property: background-color, box-shadow, transform, -webkit-transform;
}

