
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>Egy Merchants</title>
    <link rel="shortcut icon" href="/img/icon.png" />
    <!--css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="css/fontawesome/font-awesome.min.css" />-->

    <!--     Fonts and icons     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/js/general/switch/angular-ui-switch.css" />
    <link href="/css/material-dashboard.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    
