<!-- views/partials/head.ejs -->

<meta charset="utf-8"/>
<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<title>EGM | Out reach</title>
<!-- CSS preloader -->
<link href="css/loader.css" rel="stylesheet"/>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<!-- Custom styles for this template -->
<link href="css/megatron-template.css" rel="stylesheet"/>
<!-- CSS modules -->
<link href="css/icomoon.css" rel="stylesheet"/>
<link href="css/fontello.css" rel="stylesheet"/>
<link href="css/flexslider.css" rel="stylesheet"/>
<link href="css/jcarousel.css" rel="stylesheet"/>
<link href="css/owl.carousel.css" rel="stylesheet"/>
<link href="css/owl.theme.css" rel="stylesheet"/>
<link href="css/cloudzoom.css" rel="stylesheet"/>
<link href="css/sfmenu.css" rel="stylesheet"/>
<link href="css/isotope.css" rel="stylesheet"/>
<link href="css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>
<link href="css/jquery.fancybox.css" rel="stylesheet"/>
<link href="css/hoverfold.css" rel="stylesheet"/>
<link href="css/style.css" rel="stylesheet"/>

