<div class="loader">
  <div class="bubblingG">
    <span id="bubblingG_1"> </span>
    <span id="bubblingG_2"> </span>
    <span id="bubblingG_3"> </span>
  </div>
</div>
<!-- Off Canvas Menu -->
<nav id="off-canvas-menu">
  <div id="off-canvas-menu-title">
    MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span>
  </div>
  <ul class="expander-list">
    <li>
      <a href="/eg/Home">
        <span class="name">
          Home
        </span>
      </a>
    </li>
    <li>
      <a href="/eg/contactus">
        <span class="name">
          Contact Us
        </span>
      </a>
    </li>
  </ul>
</nav>
<!-- //end Off Canvas Menu -->