<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Egy Merchants Market</title>
            <link rel="shortcut icon" href="/images/favicon.png" />
            <!--css-->
            <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
            <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css" />
            <link rel="stylesheet" href="/css/icomoon.css" />
            <link href="/css/flexslider.css" rel="stylesheet" />
            <link href="/css/cloud-zoom.css" rel="stylesheet" />
            <link rel="stylesheet" href="/css/cloudzoom.css" />
            <link href="/css/owl.carousel.css" rel="stylesheet" />
            <link href="/css/owl.theme.css" rel="stylesheet" />
            <link href="/css/jcarousel.css" rel="stylesheet" />
            <link href="/css/animation/animate.min.css" rel="stylesheet" />
            <link href="/css/loader.css" rel="stylesheet" />
			<link href="/css/jquery-ui.css" rel="stylesheet" />
            <link href="/css/megatron-template.css" rel="stylesheet" />
            <link rel="stylesheet" href="/css/timeline.css" />

			<link rel="stylesheet" href="/css/tour/angular-tour.css" />

			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/ballons.css" />
          </head>
  <body ng-app="app"  ng-keyup="event=$event" tabindex="1">
<div class="loaderContainer" ng-show="loading"></div>
<div class="loader" ng-show="loading">
  <div class="bubblingG">
    <span id="bubblingG_1"> </span>
    <span id="bubblingG_2"> </span>
    <span id="bubblingG_3"> </span>
  </div>
</div>
<div id="snackbar" ng-class="{'show':newMsgReceived}">You have new message..</div>
