<!-- Social widgets -->
<div ng-controller="socialController">


  <section class="social-widgets hidden-xs" >
    <ul class="items">
      <li class="item item-01 facebook">
        <a href="/social/facebook.html" class="tab-icon">
          <span class="icon-facebook-3"></span>
        </a>
        <div class="tab-content">
          <div class="title">Facebook</div>
          <div class="loading">
            <!--<img src="/images/ajax-loader.gif" class="ajaxloader" alt="loader">-->

            <div class="fb-like-box" data-href="" data-width="240" data-height="240" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>

            <!-- Facebook Api -->
            <div id="fb-root"></div>
           
            <!-- //end Facebook Api -->
          </div>
        </div>
      </li>

      <li class="item item-02 twitter">
        <a href="/social/twitter.html" class="tab-icon">
          <span class="icon-twitter-3"></span>
        </a>
        <div class="tab-content">
          <div class="title">Twitter feeds</div>
          <div class="loading">
            <div class="twitter-widget">
              <a class="twitter-timeline" href="">Tweets</a>
              <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </li>

      <li class="item item-03 twitter">
        <a href="/social/googlemap.html" class="tab-icon">
          <span class="icon-vcard"></span>
        </a>
        <div class="tab-content">
          <div class="title">Find us</div>
          <div class="loading">
            <!--<img src="/images/ajax-loader.gif" class="ajaxloader" alt="loader">-->
            <div class="twitter-widget contacts-widget">
              <ul>
                <li ng-repeat="contact in Contacts">
                  <b>{{contact.Label}}</b>&nbsp;:&nbsp;<span>{{contact.Value}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- //end Social widgets -->

  


</div>