<div ng-controller="headerController">
  <div class="pageHeader">
    <div class="header">
      <nav class="navbar navbar-default normal" role="navigation">
        <div class="dvTopLinks hidden-xs">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <div class="navbar-left">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="countryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img class="pin" src="/images/egypt.png" /> Egypt  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="countryDropdownMenu">
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/egypt.png" /> Egypt
                      </a>
                    </li>
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/Saudi-Arabia.png" /> Saudi Arabia
                      </a>
                    </li>
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/Jordan.png" /> Jordan
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="/Eg/Home">Home</a>
                </li>
                <li>
                  <a href="/Eg/Contactus">ABOUT US</a>
                </li>
                <li>
                  <a href="#">MY ACCOUNT</a>
                </li>

                <li>
                  <a href="#">MY INBOX</a>
                </li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#modal-login">LOG IN</a>
                </li>
              </ul>

            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
        <div class="dvMiddlePart  hidden-xs" >
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <h1 class="logo">
                  <a href="/Eg/Home">
                    <img src="/images/Expoeveryday.png" alt="Expo" />
                  </a>
                </h1>
              </div>
              <div class="col-sm-6">
                <div class="search-area">
                  <a class="search-icon visible-xs">
                    <i class="glyphicon glyphicon-search"></i>
                  </a>
                  <form id="search_mini_form" class="hidden-xs" >
                    <div class="form-search ">
                      <input id="search" type="text" name="txtSearch" placeholder="Search" ng-model="txtSearch" class="input-text" autocomplete="off"/>
                      <button type="submit" ng-click="search()" title="Search" class="button">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                      <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                      <div class="clearer"></div>
                    </div>
                  </form>

                </div>
              </div>
              <div class="col-sm-3">
                <div class="cart-area hidden-xs">
                  <span>
                    CALL US NOW<br/>
                    <b>+123 5678 890</b>
                  </span>
                </div>
              </div>

              <!--<div class="menu-icon"><a  title="Menu"><i class="fa fa-bars"></i></a></div>-->
            </div>
          </div>
        </div>
        <div class="header-wrapper">
          <div class="main-nav ">
            <div class="">
              <div class="menu-wrapper">
                <div class="sticky-logo wow bounceInLeft">

                  <a href="/Eg/Home">
                    <img src="/images/Expoeveryday.png" class="img-responsive" alt="Expo"/>
                  </a>

                </div>
                <div class="menu-all-pages-container">
                  <ul class="menu">
                    <li class="act">
                      <a href="/Eg/Home">
                        <span>Home</span>
                      </a>
                    </li>
                    <li class="act">
                      <a href="/Eg/Contactus">
                        <span>Contact us</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </nav>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="modal-login-label">Login to our site</h3>
          <p>Enter your email and password to log on:</p>
        </div>

        <div class="modal-body">

          <form role="form" name="frmLogin" class="login-form">
            <div class="form-group">
              <label class="sr-only" for="form-email">Email</label>
              <input type="email" name="email" ng-model="email" required="" placeholder="Email..." class="form-email form-control" id="form-email"/>
              <span ng-show="frmLogin.email.$dirty  && frmLogin.email.$invalid">
                <span class="error" ng-show="frmLogin.email.$error.required">Email is required</span>
                <span class="error" ng-show="frmLogin.email.$error.email">Invalid email</span>
              </span>
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="password"  ng-model="password" required="" placeholder="Password..." class="form-password form-control" id="form-password"/>
              <span ng-show="frmLogin.Password.$touched && frmLogin.Password.$invalid">
                <span class="error" ng-show="frmLogin.Password.$error.required">Password is required</span>
              </span>
            </div>
            <button type="submit" ng-disabled="frmLogin.$invalid" class="btn btn-primary">
              <span class="icon-checkmark-3"></span>&nbsp; Log in
            </button>
          </form>


          <div class="clear"></div>
          <div class="text-center">
            <a>
              <h6>... or Sign up now </h6>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>

