
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading">
        <div class="bubblingG">
            <span id="bubblingG_1"> </span>
            <span id="bubblingG_2"> </span>
            <span id="bubblingG_3"> </span>
        </div>
    </div>


    <script type="text/javascript" src="/js/general/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="/js/general/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/general/swinch.js"></script>

    

    <script src="/js/general/jquery.flexslider.js"></script>
    <script src="/js/general/cloud-zoom.js"></script>
    <script src="/js/general/cloudzoom.js"></script>

    
    <script src="/js/general/owl.carousel.js"></script>

    <!--angular js-->
    <!--
	<script type="text/javascript" src="/js/general/angular.min.js"></script>
    <script type="text/javascript" src="/js/general/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/js/general/angular-animate.js"></script>


    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/approutes.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script src="/js/general/angular-lazy-img.js"></script>

    <script src="/js/controllers/landingcontroller.js"></script>
    <script src="/js/controllers/storecontroller.js"></script>
    <script src="/js/controllers/expocontroller.js"></script>
    <script src="/js/controllers/gallerycontroller.js"></script>
    <script src="/js/controllers/productcontroller.js"></script>
    <script src="/js/controllers/contactuscontroller.js"></script>
	-->
</body>

</html>