<div>
  <div class="pageHeader">
    <div class="header">
      <nav class="navbar navbar-default normal" role="navigation">
        <div class="dvTopLinks hidden-xs">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <div class="navbar-left">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="countryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img class="pin" src="/images/egypt.png" /> Egypt  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="countryDropdownMenu">
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/egypt.png" /> Egypt
                      </a>
                    </li>
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/Saudi-Arabia.png" /> Saudi Arabia
                      </a>
                    </li>
                    <li>
                      <a href="/Eg/Home">
                        <img class="pin" src="/images/Jordan.png" /> Jordan
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="/Eg/Home">Home</a>
                </li>
                <li>
                  <a href="/Eg/Contactus">ABOUT US</a>
                </li>
                <li>
                  <a href="#">MY ACCOUNT</a>
                </li>

                <li>
                  <a href="#">MY INBOX</a>
                </li>
                <li>
                  <a href="#">LOG IN</a>
                </li>
              </ul>

            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
        <div class="dvMiddlePart  hidden-xs" >
          <div class="container">
            <h1 class="logo">
              <a href="/Eg/Home">
                <img src="/images/Expoeveryday.png" alt="Expo" />
              </a>
            </h1>
            <div class="cart-area hidden-sm hidden-xs">
              <div class="custom-block">
                <span style="margin-top:4px;color:#787d7f;display:block;">
                  CALL US NOW<br/>
                  <b style="color:#606669;font-size:18px;font-weight:600;display:block;line-height:27px;">+123 5678 890</b>
                </span>
              </div>

            </div>
            <div class="search-area">
              <a class="search-icon visible-xs">
                <i class="glyphicon glyphicon-search"></i>
              </a>
              <form id="search_mini_form hidden-xs" >
                <div class="form-search ">
                  <input id="search" type="text" name="q" placeholder="Search" class="input-text" autocomplete="off"/>
                  <select id="cat" name="cat">
                    <option value="">All Categories</option>
                    <option value="276">Furniture</option>
                    <option value="280">Mobiles</option>
                    <option value="281">Clothes</option>
                    <option value="280">Shoses</option>


                  </select>
                  <button type="button" title="Search" class="button">
                    <a href="/EG/Search">
                      <i class="glyphicon glyphicon-search"></i>
                    </a>
                  </button>
                  <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                  <div class="clearer"></div>
                </div>
              </form>

            </div>
            <!--<div class="menu-icon"><a  title="Menu"><i class="fa fa-bars"></i></a></div>-->
          </div>
        </div>
        <div class="header-wrapper">
          <div class="main-nav ">
            <div class="">
              <div class="menu-wrapper">
                <div class="sticky-logo wow bounceInLeft">

                  <a href="/Eg/Home">
                    <img src="/images/Expoeveryday.png" class="img-responsive" alt="Expo"/>
                  </a>

                </div>
                <div class="menu-all-pages-container">
                  <ul class="menu">
                    <li class="act">
                      <a href="/Eg/Home">
                        <span>Home</span>
                      </a>
                    </li>
                    <li class="act">
                      <a href="/Eg/Contactus">
                        <span>Contact us</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </nav>
    </div>
  </div>
</div>

