<!-- Social widgets -->
 <section class="social-widgets hidden-xs">
      <ul class="items">
        <li class="item item-01 facebook"> <a href="social/facebook.html" class="tab-icon"><span class="icon-facebook-3"></span></a>
          <div class="tab-content">
            <div class="title">FACEBOOK</div>
            <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
          </div>
        </li>
        <li class="item item-02 twitter"> <a href="social/twitter.html" class="tab-icon"><span class="icon-twitter-3"></span></a>
          <div class="tab-content">
            <div class="title">TWITTER FEEDS</div>
            <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
          </div>
        </li>
        <li class="item item-03 contacts"> <a href="social/googlemap.html" class="tab-icon"><span class="icon-globe"></span></a>
          <div class="tab-content">
            <div class="title">Find Us</div>
            <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
          </div>
        </li>
      </ul>
</section>
<!-- //end Social widgets -->