<!--   Core JS Files   -->
    <script src=" /js/general/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src=" /js/general/bootstrap.min.js" type="text/javascript"></script>
    <script src=" /js/general/jquery.bootstrap.wizard.js" type="text/javascript"></script>

    <!--  Plugin for the Wizard -->
    <script src=" /js/general/gsdk-bootstrap-wizard.js"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src=" /js/general/jquery.validate.min.js"></script>
    <!--angular-->
    <script src="/js/general/angular.min.js"></script>

<script src="/app.js"></script>
<script src="/js/service/warehouse.js"></script>

<!--controller-->
<script src="/js/controllers/logincontroller.js"></script>
<script src="/js/controllers/registercontroller.js"></script>


</body>

</html>
