

<section class="content content-border nopad-xs social-widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
                <div class="row">
                    <div class="col-lg-5  col-md-12 col-sm-12 ">
                        <h3>
                            Stay Tuned <a class="expander visible-xs" href="#TabBlock-1">+</a>
                        </h3>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
                        <p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
                        <form class="form-inline" role="form">
                            <div class="form-group input-control">
                                <!--<button type="submit" class="button">
                                    <span class="icon-envelop"></span>
                                </button>-->
                                <input type="text" class="form-control" value="Your E-mail..." onblur="if (this.value == '') {this.value = 'Your E-mail...';}" onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
                <h3>
                    FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a>
                </h3>
                <div class="tabBlock" id="TabBlock-2">
                    <ul class="find-us">
                        <li class="divider">
                            <a href="https://www.facebook.com/AppoutLLC" class="animate-scale">
                                <span class="icon icon-facebook-3"></span>
                            </a>
                        </li>
                        <li class="divider">
                            <a href="/Eg/Home" class="animate-scale">
                                <span class="icon icon-twitter-3"></span>
                            </a>
                        </li>
                        <li class="divider">
                            <a href="/Eg/Home" class="animate-scale">
                                <span class="icon icon-linkedin-2"></span>
                            </a>
                        </li>
                        <li class="divider">
                            <a href="/Eg/Home" class="animate-scale">
                                <span class="icon icon-youtube-3"></span>
                            </a>
                        </li>
                        <li class="divider">
                            <a href="/Eg/Home" class="animate-scale">
                                <span class="icon icon-pinterest-2"></span>
                            </a>
                        </li>
                        <li class="divider">
                            <a href="/Eg/Home" class="animate-scale">
                                <span class="icon icon-googleplus-2"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //end index footer -->
<!-- Footer -->
<footer>
    <section class="footer-navbar dark">
        <div class="container content nopad-xs">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                    <h3>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                    <div class="tabBlock" id="TabBlock-3">
                        <ul class="menu">
                            <li><a href="/Eg/Home">About Us</a></li>
                            <li><a href="/Eg/Home">Privacy Notice</a></li>
                            <li><a href="/Eg/Home">Conditions of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                    <h3><span class="attention"><span class="attention_icon"></span></span>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                    <div class="tabBlock" id="TabBlock-4">
                        <ul class="menu">
                            <li><a href="/Eg/Home">Online support</a></li>
                            <li><a href="/Eg/Home">Help & FAQs</a></li>
                            <li><a href="/Eg/Home">Call Center</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                    <h3>My account<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                    <div class="tabBlock" id="TabBlock-5">
                        <ul class="menu">
                            <li><a href="/Eg/Home">My Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                    <h3>CUSTOM HTML BLOCK<a class="expander visible-xs" href="#TabBlock-6">+</a></h3>
                    <div class="tabBlock" id="TabBlock-6">
                        <ul class="menu">
                            <li><span class="icon icon-house"></span> El Imam towers, Tanta, Egypt</li>
                            <li><span class="icon icon-phone-4"></span> 321321321, 321321321</li>
                            <li><span class="icon icon-envelop"></span> <a href="mailto:info@appout.co">info@appout.co</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom-block container">
        <div class="row">
            <div class="col-sm-5 col-md-4 copyright-text"> &copy; 2017 <a href="http://appout.co">Appout LLC</a>. All Rights Reserved. </div>
            <div class="col-sm-4 col-md-4">
                <ul class="payment-list pull-right">
                    <li><img src="/images/icon-payment-01.png" width="36" height="22" alt="" /></li>
                    <li><img src="/images/icon-payment-02.png" width="36" height="22" alt="" /></li>
                    <li><img src="/images/icon-payment-03.png" width="36" height="22" alt="" /></li>
                    <li><img src="/images/icon-payment-04.png" width="36" height="22" alt="" /></li>
                    <li><img src="/images/icon-payment-05.png" width="36" height="22" alt="" /></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
