body {
    height: 100vh;
    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #000, rgba(8, 8, 8, 0.79)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000, rgba(8, 8, 8, 0.79)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000, rgba(8, 8, 8, 0.79)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #000, rgba(8, 8, 8, 0.79)); /* Standard syntax */
    font-family: sans-serif;
    color: #ffffff;
    font-size: 14px !important;
}

/*animation*/
.ng-enter:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-enter-active:not(.animated) {
    opacity: 1;
}

.ng-leave:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-leave-active:not(.animated) {
    opacity: 0;
    transform: translate3d(0, 0, 0);
}


/*modal*/
.showMe {
    display: block;
    opacity: 1;
    top: 100px;
    overflow: visible;
}

.hide {
    display: none;
}

/*scroll*/
::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px; /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #777; /*bar color*/
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #ccc; /*background color*/
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
/*date Picker*/
.datetimepicker {
    background: #fff;
    color: #000;
    width: 250px !important;
    height: 280px !important;
}

#loginContainer {
    margin-top: 15%;
}

.glyphicon {
    cursor: pointer;
}

.tblWhite td {
    color: #fff;
}

.noPaddingLeft {
    padding-left: 0px;
}

.hrItem {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: pointer;
}

    .hrItem span {
        font-size: 24px;
        line-height: 200%;
    }

    .hrItem img {
        max-height: 100px;
        max-width: 50px;
    }

.listIcon {
    font-size: 30px;
    line-height: initial;
}

.greenFont {
    color: #009900;
}

.errorFont {
    color: red !important;
}

.errorBorder {
    border-bottom: 2px solid red !important;
}

.redFont {
    color: #ee1111;
}

.fontNormal {
    font-weight: normal;
    padding-right: 5px;
    text-transform: capitalize;
}

.clear {
    float: left;
    width: 100%;
    height: 30px;
}

.clear2 {
    float: left;
    width: 100%;
    height: 15px;
}

.fullHeight {
    /*min-height: 100vh;*/
}

.noPaddingRight {
    padding-right: 0;
}

.noPaddingLeft {
    padding-left: 0;
}

.whiteBackground {
    background-color: #ffffff;
    color: #336699;
}

.blackBg {
    background-color: #000;
}

.hideMe {
    display: none;
}

.darkInput {
    border-bottom-color: #666 !important;
    color: #333 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red !important inset;
}

.close {
    color: #f00;
    font-size: 36px;
}

/*input effect*/
.group {
    position: relative;
}

label:not(.checkboxLabel) {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

input:not(#txtSMS):not(#txtSMSnotifications):not(.switchChbx):not([type="checkbox"]) {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #757575;
    display: inline-block;
    width: 100%;
    height: 38px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

input:valid, textarea:valid
/*,select:valid*/ {
    border-bottom: 1px solid #4fc24f;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    top: 1px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: red;
        transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

input:valid ~ .bar:before, input:valid ~ .bar:after,
textarea:valid ~ .bar:before, textarea:valid ~ .bar:after
/*select:valid ~ .bar:before, select:valid ~ .bar:after*/ {
    background: #4fc24f !important;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    opacity: 0.5;
}

/* active state -------------------------------------------- */
input:focus ~ label, input.used ~ label, .Zebra_DatePicker_Icon_Wrapper ~ label,
select:focus ~ label, select.used ~ label, textarea:focus ~ label, textarea.used ~ label {
    top: -20px;
    font-size: 14px;
    color: red;
}

input:valid ~ label, input:valid.used ~ label,
textarea:valid ~ label, textarea:valid.used ~ label,
/*select:valid ~ label,*/
select:valid.used ~ label {
    color: #4fc24f;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before
/*,select:focus ~ .bar:before*/ {
    width: 50%;
}

input:focus ~ .bar:after,
textarea:focus ~ .bar:after
/*,select:focus ~ .bar:after*/ {
    width: 50%;
}

input:focus ~ .highlight,
textarea:focus ~ .highlight,
select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
}

input:valid ~ .hightlight,
textarea:valid ~ .hightlight,
select:valid ~ .hightlight {
    -webkit-animation: validHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: red;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-webkit-keyframes validHighlighter {
    from {
        background: #4fc24f !important;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*input effect*/

.input-form {
    display: inline-block;
    width: 100%;
    height: 38px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

    .input-form:focus, .input-form:active {
        border-bottom-width: 1px;
        border-bottom-color: red;
        border-style: none none solid;
        outline: none;
    }

    .input-form.select {
        background-image: -webkit-linear-gradient(transparent, transparent) !important;
        background-image: linear-gradient(transparent, transparent) !important;
        outline: none;
    }

        .input-form.select option:first-child {
            color: #ccc !important;
        }

option {
    background-color: black;
}

.btn-invert {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff !important;
    padding-left: 20px;
    padding-right: 20px;
}

    .btn-invert.active, .btn-invert:active,
    .btn-invert.active.focus, .btn-invert.active:focus, .btn-invert.focus, .btn-invert:active.focus, .btn-invert:active:focus, .btn-invert:focus {
        color: #fff;
    }

.btn-dismiss {
    background-color: transparent;
    border: 2px solid #aaa;
    color: #aaa !important;
    padding-left: 20px;
    padding-right: 20px;
}

    .btn-dismiss.active, .btn-dismiss:active,
    .btn-dismiss.active.focus, .btn-dismiss.active:focus, .btn-dismiss.focus, .btn-dismiss:active.focus, .btn-dismiss:active:focus, .btn-dismiss:focus {
        color: #aaa;
    }

/*Menu*/
.spmenu {
    background: #000;
    border: 0;
    max-width: 250px;
    top: 40px;
    -moz-box-shadow: -20px 0px 30px #fff !important;
    -webkit-box-shadow: -20px 0px 30px white !important;
    box-shadow: -20px 0px 30px white !important;
}


    .spmenu .sidebar-nav {
        list-style: none;
        padding-left: 10px;
    }

        .spmenu .sidebar-nav .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            list-style-type: none;
        }

            .spmenu .sidebar-nav .sidebar-brand .txtMenuItem {
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                margin-top: 20px;
            }

            .spmenu .sidebar-nav .sidebar-brand .imgMenuItem {
                border-radius: 50%;
                max-width: 50px;
                max-height: 50px;
            }

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    color: #000;
    height: 40px;
    border-bottom: 1px solid #a9a9a9;
    -webkit-box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
    box-shadow: 0px 1px 9px 1px rgba(169,169,169,1);
}

.pageHeader {
    font-size: 16px;
    position: absolute;
    line-height: 2.3;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 5px;
}

    .pageHeader img {
        max-width: 25px !important;
        display: inline;
        width: 100%;
        max-height: 25px;
    }


.pageBody {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2px !important;
}


.modal .modal-title {
    color: #337ab7 !important;
}

.rightHeader {
    line-height: 3;
    text-align: right;
    font-size: 12px;
}

    .rightHeader a, a:hover, a:active, a:focus {
        text-decoration: none;
        color: #000 !important;
    }

.logo {
    width: 40px !important;
    float: left;
    padding: 2px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 2px solid red;
    color: #FFF;
    min-height: 45px;
    background: url(../images/backgound.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 9999;
}

.footer2 {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    color: #FFF;
    min-height: 45px;
    background: url(../images/backgound.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer h6 {
    font-weight: normal;
    line-height: initial;
}

.footer img {
    height: 30px !important;
    width: auto !important;
    margin: 1%;
}

label.error {
    color: red;
}

.cursorPointer {
    cursor: pointer;
}

.fontBlack {
    color: black !important;
}

canvas {
    height: auto !important;
    width: 75% !important;
    margin: 0 auto !important;
}

/******************************************************************************
********************************* pageClients *********************************
*******************************************************************************
*******************************************************************************/
.pageClients .dvClientsContainer {
    /*display: table;
    width: 100%;
    table-layout: fixed;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.pageClients .filterable {
    /*display: flex;
    position: relative;
    width: 25%;
    align-items: center;
    justify-content: center;*/
    flex-wrap: wrap;
    padding: 10px;
}

.pageClients .dvCliensData {
    margin-bottom: 18%;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 20%;
    text-align: center;
    /*height: 115px;
    max-height: 115px;*/
    height: 97px;
    max-height: 97px;
    margin-bottom: 50px;
    width: auto !important;
    padding: 4px;
    max-width: 100px;
}

    .pageClients .dvCliensData img {
        width: 100% !important;
        max-width: 85px;
        height: 85px;
        width: 85px;
        max-height: 85px;
        border-radius: 15%;
        margin-bottom: 5px;
    }

.pageClients .clientName {
    font-size: 14px;
    font-weight: bold;
    /*white-space: nowrap;
    overflow: hidden !important;*/
    white-space: pre-line;
    overflow: visible;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    margin-top: 2px;
}

    .pageClients .clientName span {
        padding: 1px;
        font-weight: normal;
    }

.pageClients #dvNoResult h1 {
    font-size: 30px;
    color: #fff;
}


.pageClients .dvSearchClient {
    display: flex;
}

.pageClients .pageTitle {
    font-size: 30px;
    color: #fff;
}

    .pageClients .pageTitle a {
        color: #fff;
    }

        .pageClients .pageTitle a span {
            top: 5px;
        }

            .pageClients .pageTitle a span:hover {
                color: white;
            }

/******************************************************************************
********************************* pageClient **********************************
*******************************************************************************
*******************************************************************************/
.pageClient .imgClient img {
    border: 2px solid #eee;
    max-height: 170px;
    max-width: 170px;
    width: 100% !important;
    border-radius: 25px;
}


/******************************************************************************
******************************* Modals ****************************
*******************************************************************************
*******************************************************************************/
.modal-content input {
    color: #000 !important;
}

.modal-content select {
    color: #000 !important;
}

.modal-content option {
    background-color: #fff !important;
}



.client img {
    height: auto;
    padding: 2px !important;
    margin: 2px !important;
    width: 35px;
}

.close {
    color: #f00;
    font-size: 36px;
}
