<div class="container-fluid">
    <p class="copyright pull-right">
       &copy; <script>document.write(new Date().getFullYear())</script>
<<<<<<< HEAD
      <a href="http://appout.co">Appout LLC</a> | Built By Craftsmen
=======
      <a href="http://appout.co">AppOut.LLC</a> | Built By Craftsmen
>>>>>>> d8533afff7a9d35c04581998312cd97fadad366c
    </p>
 </div>