<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<div class="expoPage" ng-controller="expoController">
    <div class="allExposView" ng-hide="showSingleExpo">
<<<<<<< HEAD
        <div class="secondDiv" ng-init="init('<%= JsonExpos %>', '<%= countryIso %>')">
=======
        <div class="secondDiv" ng-init="init('<%= JsonExpos %>')">
>>>>>>> e1865de5fdce1e083c94f0ae8573aa812b31f813

            <% if (expos.length > 0) { %>
            <div ng-repeat="expo in exposList">
                <section swinch-duration="1000" data-scroll
                         class="secondExpo repeated-item" id="expo{{expo._id}}" swinch-offset="-50">
                    <article>

                        <div class="expoData">

                            <div>
                                <div class="singleExpoView" id="expo{{expo._id}}">
                                    <div class="container-fluid">

                                        <div class="row" ng-init="loadArray(expo._id)">

                                            <!-- floors -->
                                            <div ng-repeat="floor in expo.Floors" class="boxme" ng-show="activePageNumber{{expo._id}} == {{$index}}" ng-init="initfirstPage(expo._id,0)">
                                                <div class="imagesContainer" id="imagesContainer{{expo._id}}">

                                                    <div class="outerContainer" ng-repeat="sec in floor.Coordinates">
                                                        <div class=" repeated-item" ng-style="{'background-image': 'url({{sec.Img}})','position':'absolute','background-size': 'cover','background-repeat': 'no-repeat','top':{{sec.Top * oneSectionHeight}} +'px','left':{{sec.Left * oneSectionWidth}} +'px','height':{{sec.Height * oneSectionHeight}} - 3 +'px', 'width':{{sec.Width * oneSectionWidth}} - 3 +'px'}">
<<<<<<< HEAD
                                                            <a href="/{{IsoCode}}/Store/{{sec.StoreName}}/{{sec.Store._id}}"><div class="image-hover"><i class="icon-zoom-in-2"></i></div></a><div class="image-title">{{sec.StoreName}}</div>
=======
                                                            <a href="/eg/Store/{{sec.StoreName}}/{{sec.Store._id}}"><div class="image-hover"><i class="icon-zoom-in-2"></i></div></a><div class="image-title">{{sec.StoreName}}</div>
>>>>>>> e1865de5fdce1e083c94f0ae8573aa812b31f813
                                                        </div>
                                                    </div>
													 <h4>{{floor.Name}}</h4>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="expoDetails">
                                            <!-- Pagination -->
                                           
											<h5 class="text-center light" ng-click="selectPage(expo._id,expo.Floors.length)">
                                               <img src="/images/rightarrow.png" />
                                            </h5>

                                        </div>
                                        <!-- //end Pagination -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>



                <div class="homepage-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="icon-shipping"></i>
                                <div class="text-area"><h3>FREE SHIPPING &amp, RETURN</h3><p>Free shipping on all orders over $99.</p></div>
                            </div>
                            <div class="col-md-4">
                                <i class="icon-money-bag"></i>
                                <div class="text-area"><h3>MONEY BACK GUARANTEE</h3><p>100% money back guarantee.</p></div>
                            </div>
                            <div class="col-md-4">
                                <i class="icon-support"></i>
                                <div class="text-area"><h3>ONLINE SUPPORT 24/7</h3><p>Lorem ipsum dolor sit amet.</p></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="brands-slide">
                <div class="container">
                    <div>
                        <img class="lazyOwl" alt="" src="http://www.newsmartwave.net/magento/porto/media/wysiwyg/porto/homepage/content/09/brand1.png">
                        <img class="lazyOwl" width="166" height="63" alt="" src="http://www.newsmartwave.net/magento/porto/media/wysiwyg/porto/homepage/content/09/brand2.png">
                        <img class="lazyOwl" width="166" height="63" alt="" src="http://www.newsmartwave.net/magento/porto/media/wysiwyg/porto/homepage/content/09/brand3.png">
                        <img class="lazyOwl" width="166" height="63" alt="" src="http://www.newsmartwave.net/magento/porto/media/wysiwyg/porto/homepage/content/09/brand4.png">
                        <img class="lazyOwl" width="166" height="63" alt="" src="http://www.newsmartwave.net/magento/porto/media/wysiwyg/porto/homepage/content/09/brand5.png">
                    </div>
                </div>
            </div>

            <% } else { %>
            <p class="txtNoData"> No Data Available </p>
            <% } %>
        </div>
    </div>




</div>


<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<% include ../partials/pagesocial %>

</body>

</html>