<% include ../partials/pagestart %>
<% include ../partials/pageheader %>


<div ng-controller="favouritesController">
    <div ng-init="init('<%= countryIso %>')" class="favouritesPage">

	    <div class="clear"></div>
        <!-- Breadcrumbs -->
        <section class="container">
            <nav class="breadcrumbs">
                <span class="maincrumb"><a href="/{{IsoCode}}/Home">Home</a></span>
                <span class="maincrumb"><span class="divider">›</span><span href="#"><span> Favourites</span></span></span>
            </nav>
        </section>
        <!-- //end Breadcrumbs -->

        <!-- Favourites -->
        <section class="container-fluid">
            <!-- view -->
            <div class="row ">

                <div class="col-sm-10 col-sm-offset-1 ">

				<% if(listFavourites.length > 0){ %>
                    <ul>
					 <% listFavourites.forEach(function(fav){ %>

                        <li>
                          <a>
						    <h6><span class="dvIcon glyphicon glyphicon-bell"></span><span> <%= fav %> </span></h6>
                            <div class="text-right"><span class="text-muted"></span></div>
						  </a>
                        </li>

                     <% }); %>

                    </ul>
					<% } else { %>
					<p class="txtNoData"> No favorites found </p>
					<% } %>
                </div>


                
            </div>
            <!-- //end view -->

        </section>
        <!-- //end Two columns content -->
    </div>
</div>
<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<% include ../partials/pagesocial %>
</body>

</html>