
<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Market</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/favicon.png">
        <meta charset="utf-8"/>
        <!-- IE Compatibility meta-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--first mobile meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/animation/animate.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="/js/general/html5shiv.min.js"></script>
          <script src="/js/general/respond.min.js"></script>
        <![endif]-->
    </head>
<body class="pageLanding">      
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 big">
                <img src="/images/Expoeveryday.png">
            </div>
            <div class="col-sm-5 big">
                <h1 class="wow slideInDown" data-wow-duration="2s">WELLCOME</h1>
                <p>Start A tour on<br> an Expo ?</p>

				<% if (categories.length > 0) { %>
			<% categories.forEach(function(cat){ %>
				<div class="wow bounceInRight txtCategoryContainer" data-wow-duration="2s">
                    <a href="/Eg/Expos/<%= cat._id %>"><%= cat.Name %></a>
                </div>
			<% }); %>
				<% } else { %>
			 <p class="txtNoData"> No Data Available </p>
			 <% } %>
        </div>
        <div class="col-sm-1 small">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img class="pin" src="/images/egypt.png"/> 
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			      <li><a href="#"><img src="/images/egypt.png"/> </a></li>
                  <li><a href="#"><img src="/images/Saudi-Arabia.png"/> </a></li>
                  <li><a href="#"><img src="/images/Jordan.png"/> </a></li>
              </ul>
            </div>  
        </div>
    </div>
        
       
</div>
<!-- JaveScript Filles-->
    <script src="/js/general/jquery-1.11.1.min.js"></script>
    <script src="/js/general/bootstrap/bootstrap.min.js"></script>
    <script src="/js/general/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
  </body>
</html>