<div>
    <div class="row pageHeader">
        <div class="col-xs-12">
            <div class="row">
                <div class=" col-xs-6">
                    <div class="logo">
                        <img class="img-responsive" src="images/header-logo.png" />
                    </div>
                </div>
                <div class=" col-xs-5">
                    <div class="pull-right">

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="countryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Account
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="countryDropdownMenu">
                                <li><a href="/Eg/Home">Account</a></li>
                                <li><a href="/Eg/Home">Checkout</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Eg/Home">Log In</a></li>
                                <li><a href="/Eg/Home">Sign Up</a></li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="countryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                UK
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="countryDropdownMenu">
                                <li><a href="/Eg/Home">UK</a></li>
                                <li><a href="/Eg/Home">Germany</a></li>
                                <li><a href="/Eg/Home">France</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">

                    <nav class="navbar navbar-default">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="mainMenu">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="/Eg/Home" class="btn-main">
                                            <span class="icon icon-home"></span>
                                        </a>
                                    </li>
                                    <li><a href="/Eg/contactus">CONTACT US</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-xs-7">
                    <!-- Search -->
                    <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                        <div class="form-group">
                            <button type="submit" class="button">
                                <span class="icon-search-2"></span>
                            </button>
                            <input type="text" class="form-control" value="Keyword.." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}" />
                        </div>
                        
                    </form>
                    <!-- //end Search -->
                    <!-- Search -->
                    <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                        <div class="form-group">
                            <button type="submit" class="button">
                                <span class="icon-search-2"></span>
                            </button>
                            <input type="text" class="form-control" value="Expo.." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}" />
                        </div>

                    </form>
                    <!-- //end Search -->
                    <!-- Search -->
                    <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                        <div class="form-group">
                            <button type="submit" class="button">
                                <span class="icon-search-2"></span>
                            </button>
                            <input type="text" class="form-control" value="Store.." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}" />
                        </div>

                    </form>
                    <!-- //end Search -->
                    <!-- Search -->
                    <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                        <div class="form-group">
                            <button type="submit" class="button">
                                <span class="icon-search-2"></span>
                            </button>
                            <input type="text" class="form-control" value="Product.." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}" />
                        </div>

                    </form>
                    <!-- //end Search -->
                </div>
            </div>
        </div>
    </div>
</div>
