<% include ../partials/headpages %>
<div ng-controller='categoriesListController'>
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href='/eg/exposlist'>
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a href="/eg/Home">
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add Category</button>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header defaultColor">
                                    <h4 class="title">Categories List</h4>
                                    <p class="category">List of categories</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>Categories</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Furniture</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg2" data-original-title="Edit Category">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Clothes</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg2" data-original-title="Edit Category">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Furniture</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg2" data-original-title="Edit Category">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Perfume</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg2" data-original-title="Edit Category">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Clothes</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg2" data-original-title="Edit Category">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
    </div>

    <!-- Start Modal  ((add))-->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Category</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Creat Category</h4>
                                            <p class="category">Creat A New Category</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddCategory">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Category</label>
                                                            <input type="text" class="form-control" ng-model="category.Title" required pattern="^.{1,35}$" name="categoryTitle" id="categoryTitle">
                                                            <span ng-show="frmAddCategory.categoryTitle.$dirty && frmAddCategory.categoryTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmAddCategory.categoryTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddCategory.categoryTitle.$error.pattern">Category name is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addCategory()" ng-disabled="frmAddCategory.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Start Modal  ((edit))-->
    <div class="modal fade bs-example-modal-lg2" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Category</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Edit Category</h4>
                                            <p class="category">Edit your category</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmEditCategory">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Category</label>
                                                            <input type="text" class="form-control" ng-model="category.Title" required pattern="^.{1,35}$" name="categoryTitle" id="categoryTitle">
                                                            <span ng-show="frmEditCategory.categoryTitle.$dirty && frmEditCategory.categoryTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmEditCategory.categoryTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmEditCategory.categoryTitle.$error.pattern">Category name is too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="EditCategory()" ng-disabled="frmEditCategory.$invalid" class="btn btn-primary">Update Category</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>/partials/pagesjsfiles %>