<% include ../partials/headpages %>
<div ng-controller='countriesListController' ng-init="init('<%= categorieslstJSON %>','<%= countrieslstJSON %>')">
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href='/eg/exposlist'>
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="main-panel">

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add Country</button>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header defaultColor">
                                    <h4 class="title">Countries List</h4>
                                    <p class="category">List of countries</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>
                                                <th></th>
                                                <th>Country</th>
                                                <th>Iso code</th>
                                                <th>Welcome message</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="country in countries">
                                                <td>
                                                    <img class="divImgTable" src="{{country.Flag}}" />
                                                    <!--<img class="divImgTable" src="/img/cover.jpeg" />-->
                                                </td>
                                                <td>{{country.Name}}</td>
                                                <td>{{country.IsoCode}}</td>
                                                <td class="light">{{country.WelcomeMsg}}</td>

                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" ng-click="editCountry(country._id,country.Categories)" data-original-title="Edit Country">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" ng-click="removeCountry(country._id)" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
    </div>

    <!-- Start Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Country</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Create Country</h4>
                                            <p class="category">Create A New Country</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddCountry">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Country name</label>
                                                            <input type="text" class="form-control" ng-model="country.Name" required pattern="^.{2,15}$" name="countryName" id="countryName">
                                                            <span ng-show="frmAddCountry.countryName.$dirty && frmAddCountry.countryName.$invalid">
                                                                <span class="errorFont" ng-show="frmAddCountry.countryName.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddCountry.countryName.$error.pattern">Country name is too short or too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Country iso code</label>
                                                            <input type="text" class="form-control" ng-model="country.IsoCode" required pattern="^.{2,3}$" name="countryIsoCode" id="countryIsoCode">
                                                            <span ng-show="frmAddCountry.countryIsoCode.$dirty && frmAddCountry.countryIsoCode.$invalid">
                                                                <span class="errorFont" ng-show="frmAddCountry.countryIsoCode.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddCountry.countryIsoCode.$error.pattern">Country IsoCode is too short or too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Welcome message</label>
                                                            <input type="text" class="form-control" ng-model="country.WelcomeMsg" required pattern="^.{2,15}$" name="countryWelcomeMsg" id="countryWelcomeMsg">
                                                            <span ng-show="frmAddCountry.countryWelcomeMsg.$dirty && frmAddCountry.countryWelcomeMsg.$invalid">
                                                                <span class="errorFont" ng-show="frmAddCountry.countryWelcomeMsg.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddCountry.countryWelcomeMsg.$error.pattern">Welcome message is too short or too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload img-->
                                            <div>
                                                <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="/img/add.gif" />
                                                <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" class="hide" />
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title itemName">{{country.Name}}</h4>
                                            <p class="category">{{country.IsoCode}}</p>
                                            <p class="category">{{country.WelcomeMsg}}</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card categoriesCard">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Choose categories</h4>
                                        </div>
                                        <div class="card-content">



                                            <div class="checkbox" ng-repeat="category in categories">
                                                <label>
                                                    <input id="chbox" type="checkbox" name="optionsCheckboxes" ng-model="category.checked" ng-checked="category.checked"><span class="checkbox-material"><span class="checkBoxSpan">{{category.Name}}</span></span>
                                                </label>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addCountry(optionsCheckboxes)" ng-disabled="frmAddCountry.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>