<% include ../partials/headpages %>
<div ng-controller='countryController'>
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href='/eg/countrieslist'>
                            <i class="material-icons">dashboard</i>
                            <p>Countries List</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store/{{storeId}}">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel divstoreTable">
            <div class="content">
                <div class="container-fluid">
                    <!-- Start Breadcrumbs -->
                    <div class="col-md-8">
                        <ol class="breadcrumb">
                            <li>
                                <a href='/eg/countrieslist'>Countries List</a>
                            </li>
                            <li class="active">Edit Country</li>
                        </ol>
                    </div>
                    <!-- End Breadcrumbs -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Edit Country</h4>
                                    <p class="category">Edit your Country</p>
                                </div>
                                <div class="card-content">
                                    <form name="frmUpdateCountry">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country name</label>
                                                    <input type="text" class="form-control" ng-model="country.Title" name="countryTitle" id="countryTitle" required pattern="^.{1,35}$">
                                                    <span ng-show="frmUpdateCountry.countryTitle.$dirty && frmUpdateCountry.countryTitle.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryTitle.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryTitle.$error.pattern">Country name is too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country iso code</label>
                                                    <input type="text" class="form-control" ng-model="country.Iso" name="countryIso" id="countryIso" required pattern="^.{1,3}$">
                                                    <span ng-show="frmUpdateCountry.countryIso.$dirty && frmUpdateCountry.countryIso.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryIso.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryIso.$error.pattern">Country iso code is too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country welcome message</label>
                                                    <input type="text" class="form-control" ng-model="country.Msg" name="countryMsg" id="countryMsg" required pattern="^.{1,35}$">
                                                    <span ng-show="frmUpdateCountry.countryMsg.$dirty && frmUpdateCountry.countryMsg.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryMsg.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryMsg.$error.pattern">Country welcome message is too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" ng-click="updateCountry()" ng-disabled="frmUpdateCountry.$invalid" class="btn btn-primary pull-right">Update Country</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart">
                                    <!--upload img-->
                                    <div>
                                        <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="/img/add.gif" />
                                        <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" class="hide" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title itemTitle"></h4>
                                    <p class="category"></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">List of categories</h4>
                                </div>
                                <div class="card-content">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Furniture</span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Clothes</span></span>
                                        </label>
                                    </div>
									<div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Perfume</span></span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Cars</span></span>
                                        </label>
                                    </div>
									<div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Watches</span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <footer class="footer">
    <% include ../partials/footerpages %>
</footer>



        </div>
    </div>
    <!--   Core JS Files   -->
    <% include ../partials/pagesjsfiles %>
