<% include ../partials/headpages %>
<div ng-controller='floorsController' class="pageFloors">
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href='/eg/exposlist'>
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">

                    <div class="card">
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">New Floor</h4>
                            <p class="category">Set new floor sections</p>
                        </div>
                        <div class="card-content">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating is-focused ">
                                        <label class="control-label">Floor Name</label>
                                        <input type="text" class="form-control" ng-model="floorName" value=" floorName " ng-init="floorName = 'Floor'" name="floorName" id="floorName" required pattern="^.{2,25}$">
                                        <span ng-show="frmUpdateFloor.floorName.$dirty && frmUpdateFloor.floorName.$invalid">
                                            <span class="errorFont" ng-show="frmUpdateFloor.floorName.$error.required">Required</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 text-center"
                                     ng-repeat="section in floor.Sections track by section.sectionId"
                                     id="active{{section.sectionId}}"
                                     ng-init="this['active'+this.section.sectionId] = false;section.isBusy = false"
                                     ng-click="this['active'+this.section.sectionId] =! this['active'+this.section.sectionId] ; section.isBusy =! section.isBusy;"
                                     ng-class="{'active': this['active'+this.section.sectionId]}">
                                    <div>{{section.data}}</div>
                                </div>
                            </div>

                            <br /><br />
                            <button class="btn btn-primary" data-target="#modal" data-toggle="modal">Add Section to selected area</button>

                            <br /><hr /><br />


                            <button class="btn btn-primary" ng-click="loadArray()">Preview</button>
                            <br />
                            <br />
                            <div class="row imagesContainer" id="imagesContainer"></div>
                            <br /><br />
                            <button class="btn btn-primary" ng-click="saveFloor()">Save Floor</button>

                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class=" alert-danger clear text-center" ng-show="errdiv">
                                        <span class="errorFont"> {{errMsg}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>


    </div>


    <!-- Start Modal -->
    <div id="modal" class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Add Section</h4>
                                            <p class="category"></p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddExpo">

                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Choose store</label>
                                                            <br>
                                                            <select name="country" ng-model="selectedstore" class="form-control">
                                                                <% storeslst.forEach(function(store){ %>
                                                                <option value="<%= store %>" selected> <%= store.Name %> </option>
                                                                <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload img-->
                                            <div>
                                                <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="/img/add.gif" />
                                                <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" class="hide" />
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title itemTitle"></h4>
                                            <p class="category"></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addSection()" ng-disabled="frmAddExpo.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>