<% include ../partials/headpages %>
<div ng-controller='storeController'>
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav nav-mobile-menu"></ul><ul class="nav">
                    <li>
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/exposlist">
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a href="/eg/Home">
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(/img/sidebar-1.jpg) "></div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header defaultColor">
                                    <h4 class="title">Stores List</h4>
                                    <p class="category">List of stores</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>
                                                <th></th>
                                                <th>Store name</th>
                                                <th>Description</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%  if( storeslst.length > 0  ){ %>
                                            <% storeslst.forEach(function(store){ %>
                                            <tr>
                                                <td>
                                                    <img class="divImgTable" src="/img/cover.jpeg" />
                                                </td>
                                                <td>Dakota Rice</td>
                                                <td class="light"><span class="tableSpan">Niger</span></td>
                                                <td class="checkBoxWidth">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" ng-disabled="true"><span class="checkbox-material"><span class="checkBoxSpan">Featured</span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="checkBoxWidth">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" ng-disabled="true"><span class="checkbox-material"><span class="checkBoxSpan">Has factory</span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="checkBoxWidth">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" ng-disabled="true"><span class="checkbox-material"><span class="checkBoxSpan">Verification</span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" ng-click="editStore()" data-target=".bs-example-modal-lg" data-toggle="modal" data-original-title="Edit store">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }); %>
                                            <% }else{ %>
                                            <p class="text-center">There is no stores to show</p>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
    </div>

    <!-- Start Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Store</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Edit Store</h4>
                                            <p class="category">Store Name</p>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Featured</span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Has factory</span></span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="checkBoxSpan">Verification</span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addExpo()" ng-disabled="frmAddExpo.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!--   Core JS Files   -->
    <% include ../partials/pagesjsfiles %>
