<!-- Back to top -->
<div class="back-to-top">
  <span class="icon-arrow-up-4"></span>
</div>
<!-- //end Back to top -->

<section class="navbar">
  <div class="background">
    <div class="container">
      <!-- Logo -->
      <div class="navbar-logo pull-left">
        <a href="/eg/Home">
          <img src="/images/header-logo.png" alt="Megatron"/>
        </a>
      </div>
      <div class="clearfix visible-sm"></div>
      <!-- //end Logo -->
      <!-- Secondary menu -->
      <div class="navbar-secondary-menu pull-right hidden-xs">
        <div class="btn-group compact-hidden">
          <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon icon-vcard"></span> Account <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Account</a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="btn-group compact-hidden">
          <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon icon-flag"></span> UK <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="icon-flag icon-flag-en">&nbsp;</span> UK
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-flag icon-flag-de">&nbsp;</span> Germany
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-flag icon-flag-fr">&nbsp;</span> Frence
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Secondary menu mobile -->
      <!-- //end Secondary menu -->
      <!-- Search -->
      <form class="navbar-search form-inline hidden-xs pull-right" role="form">
        <div class="form-group">
          <button type="submit" class="button">
            <span class="icon-search-2"></span>
          </button>
          <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}"/>
        </div>
        <div class="dropdown-search">
          <ul>
            <li>
              <a href="#">
                <span class="amount">12</span>search auto
              </a>
            </li>
            <li>
              <a href="#">
                <span class="amount">22</span>search auto
              </a>
            </li>
            <li>
              <a href="#">
                <span class="amount">2</span>search auto
              </a>
            </li>
            <li>
              <a href="#">
                <span class="amount">45</span>search auto
              </a>
            </li>
            <li>
              <a href="#">
                <span class="amount">11</span>search auto
              </a>
            </li>
            <li>
              <a href="#">
                <span class="amount">4</span>search auto
              </a>
            </li>
          </ul>
        </div>
      </form>
      <!-- //end Search -->
      <!-- Main menu -->
      <dl class="navbar-main-menu hidden-xs">
        <dt class="item">
          <ul class="sf-menu">
            <li>
              <a href="/eg/Home" class="btn-main">
                <span class="icon icon-home"></span>
              </a>
            </li>
          </ul>
        </dt>
        <dd></dd>
        <dt class="item">
          <a href="contactus" class="btn-main line">Contacts</a>
        </dt>
        <dd></dd>
      </dl>
      <!-- //end Main menu -->

    </div>
  </div>
  <!-- Mobile menu -->
  <div class="container visible-xs">
    <div class="mobile-nav row">
      <div class="nav-item item-01">
        <a href="#" id="off-canvas-menu-toggle">
          <span class="icon icon-list-4"></span>
        </a>
      </div>
      <div class="nav-item item-02">
        <a href="#">
          <span class="icon icon-vcard"></span>
        </a>
        <div class="tab-content">
          <ul class="menu-list">
            <li>
              <a href="#">Account</a>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
            <li>
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-item item-03">
        <a href="#">
          <span class="icon icon-search-2"></span>
        </a>
        <div class="tab-content">
          <!-- Search -->
          <form class="navbar-search form-inline" role="form">
            <div class="form-group">
              <button type="submit" class="button">
                <span class="icon-search-2"></span>
              </button>
              <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}"/>
                        </div>
          </form>
          <!-- //end Search -->
        </div>
      </div>
      <div class="nav-item item-04">
        <a href="#">
          <span class="icon-xcart-white">3</span>
        </a>
        <div class="tab-content">
          <div class="shoppingcart-box">
            <div class="title">Recently added item(s)</div>
            <ul class="list">
              <li class="item">
                <div class="icon-product-edit">
                  <a class="icon icon-edit" href="#"></a>
                </div>
                <div class="icon-product-delete">
                  <a class="icon icon-trash-2" href="#"></a>
                </div>
                <a href="#" class="preview-image">
                  <img class="preview" src="/images/products/product-02-small.jpg" alt=""/>
                </a>
                <div class="description">
                  <a href="#">Mauris et ligula quis</a>
                  <strong class="price">1 x $44.95</strong>
                </div>
              </li>
              <li class="item">
                <div class="icon-product-edit">
                  <a class="icon icon-edit" href="#"></a>
                </div>
                <div class="icon-product-delete">
                  <a class="icon icon-trash-2" href="#"></a>
                </div>
                <a href="#" class="preview-image">
                  <img class="preview" src="/images/products/product-03-small.jpg" alt=""/>
                </a>
                <div class="description">
                  <a href="#">Mauris et ligula quis</a>
                  <strong class="price">1 x $44.95</strong>
                </div>
              </li>
            </ul>
            <div class="total">
              Total: <strong>$44.95</strong>
            </div>
            <a href="#" class="btn btn-mega">Proceed to Checkout</a>
            <div class="view-link">
              <a href="#">View shopping cart </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- //end Mobile menu -->
  <!-- Navbar switcher -->
  <div class="navbar-switcher-container">
    <div class="navbar-switcher">
      <span class="i-inactive">
        <img src="/images/icon-megatron.png" width="35" height="35" alt=""/>
      </span>
      <span class="i-active icon-cancel-3"></span>
    </div>
  </div>
  <!-- //end Navbar switcher -->

</section>

<!-- Navbar height -->
<div class="navbar-height-inner"></div>
<!-- Navbar height -->
<!-- Navbar height -->
<div class="navbar-height"></div>
<!-- Navbar height -->