 <div class="loader">
      <div class="bubblingG">
        <span id="bubblingG_1"> </span>
        <span id="bubblingG_2"> </span>
        <span id="bubblingG_3"> </span>
      </div>
    </div>
    <!-- Off Canvas Menu -->
    <nav id="off-canvas-menu">
      <div id="off-canvas-menu-title">
        MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span>
      </div>
      <ul class="expander-list">
        <li>
          <span class="name">
            <a href="#">Home</a>
          </span>
        </li>
        <li>
          <span class="name">
            <a href="contacts">Contacts</a>
          </span>
        </li>
      </ul>
    </nav>
    <!-- //end Off Canvas Menu -->