<div class="row header" ui-view="headerView"></div>
<div class="pageBody pageGallery ">
    <div class="row animated fadeInRight">
        <div class="container">
            <div class="clear2"></div>
            <div class="clear2"></div>
            <div class="clear2"></div>

            <form name="frmAddGallery" novalidate>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class=" input-group-lg col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtGalleryName" ng-class="{errorBorder : frmAddGallery.txtGalleryName.$dirty == true && frmAddGallery.txtGalleryName.$invalid == true ,'used': txtGalleryName.length > 0}" type="text" pattern=".{1,80}" name="txtGalleryName" id="txtGalleryName" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : frmAddGallery.txtGalleryName.$dirty == true && frmAddGallery.txtGalleryName.$invalid == true }">Name of gallery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear row"></div>

                            <div class="row">
                                <div class="input-group-lg col-md-12 col-sm-12 col-xs-12">
                                    <div class="group">
                                        <input ng-input-effect-class is-required ng-model="txtDescreption" ng-class="{errorBorder : frmAddGallery.txtDescreption.$dirty == true && frmAddGallery.txtDescreption.$invalid == true ,'used': txtDescreption.length > 0}" type="text" pattern=".{1,80}" name="txtDescreption" id="txtDescreption" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label ng-class="{errorFont : frmAddGallery.txtDescreption.$dirty == true && frmAddGallery.txtDescreption.$invalid == true }">Descreption</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear row "></div>
                        </div>

                        <div class="text-center col-md-6 col-sm-6 col-xs-6 imgClient">
                            <img id="imgGallery" fallbacksrc ng-click="ShowFileSelector()" class="cursorPointer" src="{{galleryImg}}" />
                            <input type="file" onchange="convertGalleryImgToBase64URL(event)" id="uploadGalleryImage" class="hide" />
                            <h6>Click to choose new image</h6>
                        </div>
                    </div>
                    <div class="clear row"></div>
                    <div class="clear row"></div>
                    <div class="clear row"></div>

                    <div class="row" ng-if="!createMode">
                        <div class="text-left col-md-6 col-sm-6 col-xs-6">
                            <button type="button" class="btn btn-link" ng-click="showGalleryItems()">View gallery items&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="text-right col-md-6 col-sm-6 col-xs-6">
                            <button class="btn btn-invert" ng-click="deleteGallery()" type="button">Delete</button>
                        </div>
                    </div>

                    <div class="clear row"></div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ng-class="{'alert-success' : messageStatus == 'success' ,'alert-danger' : messageStatus == 'danger' ,'alert-warning' : messageStatus == 'warning'}" class="alert alert-dismissible text-center" ng-show="showMessage == true" id="dvMSG" role="alert">
                                <span>{{messageTxt}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear row"></div>
            </form>

        </div>
    </div>

    <div class="row footer2">
        <div class="text-left col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-dismiss" type="button" ng-click="cancelClient()">Dismiss</button>
        </div>
        <div class="text-right col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-invert saveBtn" ng-click="submit()" ng-disabled="frmAddGallery.$invalid" type="submit">Save</button>
        </div>
    </div>

    
</div>

