<div ui-view="header" class="container-fluid"></div>

<div ui-view="social" class="container-fluid"></div>

<!-- Breadcrumbs -->
<section class="container">
    <nav class="breadcrumbs">
        <span class="maincrumb"><a href="/Eg/Home">Home</a></span>
        <span class="maincrumb"><span class="divider">›</span><a href="#/Eg/Store/Almaksoud/1"><span> Al Maksoud</span></a></span>
        <span class="maincrumb"><span class="divider">›</span><a href="#/Eg/Gallery/Almaksoud/1"><span> غرف معيشة</span></a></span>
    </nav>
</section>
<!-- //end Breadcrumbs -->
<!-- test this -->
<!-- One column content -->
<section class="container">

    <!-- Description -->
    <p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis rutrum. et, egestas vitae, magna. Integer semper, velit ut interNam lectus nulla, bibendum pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum ut, turpis. Nullam id justo sed labore diam diam aliquam nonumy. Integer ligula magna, dictum et, pulvinar non, ultricies ac, nibh. Vivamus euismod nulla vel nunc. Fusce tincidunt, justo congue egestas molestie, tortor tortor blandit erat, et scelerisque metus metus at ipsum.</p>
    <!-- //end Description -->
    <!-- Products list -->
    <div class="row products-list">
        
        <% Gallery.forEach(function(product){ %>
        <div class="product-preview ">
            <div class="preview animate scale">
                <a href="#/Eg/Product/<%= product.Name %>/<%= product.Id %>" class="preview-image"><img class="img-responsive animate scale" src="<%= product.Img %>" width="270" height="328" alt=""></a>
                <ul class="product-controls-list right hide-right">
                    <li class="top-out"></li>
                    <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                    <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                    <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                </ul>
                <a href="#/Eg/Product/chair/1" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
            </div>
            <h3 class="title"><a href="#"><%= product.Name %></a></h3>
            <span class="price"><%= product.Price %></span>
        </div>
        <% }); %>
    </div>
    <!-- //end Products list -->
    <!-- Product view compact -->
    <div class="product-view-ajax">
        <div class="ajax-loader progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar"></div>
        </div>
        <div class="layar"></div>
        <div class="product-view-container"> </div>
    </div>
    <!-- //end Product view compact -->

</section>
<!-- //end One columns content -->

<div ui-view="footer1" class="container-fluid"></div>
<div ui-view="footer2" class="container-fluid dvFooterContainer"></div>