
<div ui-view="header" class="container-fluid"></div>

<div class="expoPage">
    <div class="allExposView" ng-hide="showSingleExpo">
        <div class="clear2"></div>
        <h1 class="text-center text-info">Choose Expo</h1>
        <div class="secondDiv">
            <article>
                <h2>Le Marché 1</h2>
                <div>
                    <h3>Le Marché 1</h3>
                    <p>Th'art nesh thee nay lad soft lad wacken thi sen up t'foot o' our stairs. Nay lad where's tha bin. Th'art nesh thee a pint ‘o mild any rooad t'foot o' our stairs. Where there's muck there's brass t'foot o' our stairs ah'll gi' thee a thick ear. Ah'll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin'</p>
                    <a href="#/expo"><span ng-click="showSingleExpo = true"><h4>Show Details</h4></span></a>
                </div>
            </article>
            <article>
                <h2>Le Marché 2</h2>
                <div>
                    <h3>Le Marché 2</h3>
                    <p>Th'art nesh thee nay lad soft lad wacken thi sen up t'foot o' our stairs. Nay lad where's tha bin. Th'art nesh thee a pint ‘o mild any rooad t'foot o' our stairs. Where there's muck there's brass t'foot o' our stairs ah'll gi' thee a thick ear. Ah'll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin'</p>
                    <a href="#/expo"><span ng-click="showSingleExpo = true"><h4>Show Details</h4></span></a>
                </div>
            </article>
            <article>
                <h2>Le Marché 3</h2>
                <div>
                    <h3>Le Marché 3</h3>
                    <p>Th'art nesh thee nay lad soft lad wacken thi sen up t'foot o' our stairs. Nay lad where's tha bin. Th'art nesh thee a pint ‘o mild any rooad t'foot o' our stairs. Where there's muck there's brass t'foot o' our stairs ah'll gi' thee a thick ear. Ah'll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin'</p>
                    <a href="#/expo"><span ng-click="showSingleExpo = true"><h4>Show Details</h4></span></a>
                </div>
            </article>
            <article>
                <h2>Le Marché 4</h2>
                <div>
                    <h3>Le Marché 4</h3>
                    <p>Th'art nesh thee nay lad soft lad wacken thi sen up t'foot o' our stairs. Nay lad where's tha bin. Th'art nesh thee a pint ‘o mild any rooad t'foot o' our stairs. Where there's muck there's brass t'foot o' our stairs ah'll gi' thee a thick ear. Ah'll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin'</p>
                    <a href="#/expo"><span ng-click="showSingleExpo = true"><h4>Show Details</h4></span></a>
                </div>
            </article>
            <article>
                <h2>Le Marché 5</h2>
                <div>
                    <h3>Le Marché 5</h3>
                    <p>Th'art nesh thee nay lad soft lad wacken thi sen up t'foot o' our stairs. Nay lad where's tha bin. Th'art nesh thee a pint ‘o mild any rooad t'foot o' our stairs. Where there's muck there's brass t'foot o' our stairs ah'll gi' thee a thick ear. Ah'll learn thi tintintin tell thi summat for nowt soft lad mardy bum. Chuffin'</p>
                    <a href="#/expo"><span ng-click="showSingleExpo = true"><h4>Show Details</h4></span></a>
                </div>
            </article>
        </div>
    </div>



    <div class="singleExpoView" ng-show="showSingleExpo">
        <div class="clear"></div>
        <section class="container">
            <h1 class="text-center">Le Marché</h1>
            <div class="row noGutter">
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/a1.jpg" alt="Image1">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/a2.jpg" alt="Image2">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-03.jpg" alt="Image3">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-04.jpg" alt="Image4">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-05.jpg" alt="Image5">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/a3.jpg" alt="Image6">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/a4.jpg" alt="Image7">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-08.jpg" alt="Image8">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-09.jpg" alt="Image9">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-10.jpg" alt="Image10">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-11.jpg" alt="Image11">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-12.jpg" alt="Image12">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img.jpg" alt="Image1">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-02.jpg" alt="Image2">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-03.jpg" alt="Image3">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-04.jpg" alt="Image4">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-05.jpg" alt="Image5">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-06.jpg" alt="Image6">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-07.jpg" alt="Image7">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-08.jpg" alt="Image8">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-09.jpg" alt="Image9">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-10.jpg" alt="Image10">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-11.jpg" alt="Image11">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img-12.jpg" alt="Image12">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-custom5">
                    <div class="image-wrapper">
                        <a href="#/store">
                            <img class="animate scale animated" src="images/expo/gallery_img.jpg" alt="Image1">
                            <div class="image-hover"><i class="icon-zoom-in-2"></i></div>
                            <div class="image-title">Lorem ipsum dolor</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <h6 class="text-center">Change Displayed Floor</h6>
            <ul class="pagination-main">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
            </ul>
            <!-- //end Pagination -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-danger btn-lg" ng-click="showSingleExpo = false">Back to expos</button>
                </div>
            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>
<div ui-view="footer" class="container-fluid dvFooterContainer"></div>