<div ui-view="header" class="container-fluid"></div>
<!--<div ui-view="social" class="container-fluid"></div>-->
<div class="expoPage">
    <div class="allExposView" ng-hide="showSingleExpo">
        <div class="secondDiv">
            
            <section ng-repeat="expo in expos" swinch-duration="1000" data-scroll
                     class="secondExpo repeated-item" id="expo{{expo.Id}}" swinch-offset="0" style="background-image: url({{expo.Banner}})">
                <article>
                    <div class="expoData">
                        <h1 class="text-center">{{expo.Title}}</h1>
                        <div>
                            <div class="singleExpoView">
                                <div class="container">
                                    <div class="row noGutter">

                                        <div class="col-sm-3 col-custom5 repeated-item" ng-repeat="section in expo.Sections">
                                            <div class="image-wrapper">
                                                <a href="#/Eg/Store/AlMaksoud/{{section.Store}}">
                                                    <img class="animated img-responsive animate scale" src="{{section.Img}}" alt="Image1">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="expoDetails" ng-init="initHidePags(expo.Id)">
                                        <!-- Pagination -->
                                        <h6 class="text-center light expoPagingController"
                                            ng-show="hidePages{{expo.Id}}" ng-click="toggle(expo.Id)">
                                            Take me there
                                        </h6>
                                        <h6 class="text-center light expoPagingControllerRemoval"
                                            ng-hide="hidePages{{expo.Id}}" ng-click="toggle(expo.Id)">
                                            Back
                                        </h6>
                                        <ul class="pagination-main dvPageNumbers" ng-hide="hidePages{{expo.Id}}" ng-init="initfirstPage(expo.Id)">
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 1}" ng-click="selectPage(expo.Id,1)" class="btnChangePage"><a>1</a></li>
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 2}" ng-click="selectPage(expo.Id,2)" class="btnChangePage"><a>2</a></li>
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 3}" ng-click="selectPage(expo.Id,3)" class="btnChangePage"><a>3</a></li>
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 4}" ng-click="selectPage(expo.Id,4)" class="btnChangePage"><a>4</a></li>
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 5}" ng-click="selectPage(expo.Id,5)" class="btnChangePage"><a>5</a></li>
                                            <li ng-class="{active : activePageNumber{{expo.Id}} === 6}" ng-click="selectPage(expo.Id,6)" class="btnChangePage"><a>6</a></li>
                                        </ul>
                                    </div>
                                    <!-- //end Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            
        </div>
    </div>



    
</div>
<div ui-view="footer1" class="container-fluid"></div>
<div ui-view="footer2" class="container-fluid dvFooterContainer"></div>