<div ui-view="header" class="container-fluid"></div>

<div class="welcomePage container-fluid">
    <div class="pageBody">
        <div class="row">
            <div class="welcomeImgContainer">
                <img class="img-responsive" src="images/welcome.jpg" />
                <div class="imgShadow"></div>
            </div>
        </div>


        <div class="row categoryContainer animate-container">

            <div class="col-xs-12 text-center">
                <h3 class="txtChooseCat">Please Choose Category</h3>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 singleCategory animate-repeat" ng-repeat="cat in categories" ui-sref="expo">
                <div class="imgContainer" style="background:url('{{cat.Img}}')">
                    <div class="blackLayer"></div>
                </div>
                <h6 class="categoryTxt">{{cat.Title}}</h6>
            </div>
        </div>

    </div>
</div>

<div ui-view="footer" class="container-fluid dvFooterContainer"></div>

