<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../partials/head %>
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/extralayers.css" media="screen" />
</head>
<body class="responsive">
    <% include ../partials/loaderandsidemenu %>

    <div id="outer">
        <div id="outer-canvas">
            <!-- Navbar -->
            <header>
			<% include ../partials/header %>
            </header>
            <!-- //end Navbar -->
            <!-- Slider -->
            <section class="main-slider container hidden-xs">
                <div class="owl-slider-outer">
                    <a class="owl-slider-prev"></a> <a class="owl-slider-next"></a>
                    <div class="owl-slider">
                        <div class="item"><img src="https://s-media-cache-ak0.pinimg.com/originals/e2/5e/90/e25e90d723ba723c282068816c139f9a.jpg" alt=""> <a href="index.html" class="title-slide-01"> <span class="big">Sale</span> <span class="middle">up to 40% OFF</span> </a></div>
                        <div class="item"><img src="http://www.dwellingdecor.com/wp-content/uploads/2015/12/interior-living-room.jpg" alt=""> <a href="index.html" class="title-slide-02"> <span class="big">New</span> <span class="small">collection</span> <span class="middle">AUTUMN 2014</span> </a> </div>
                        <div class="item"><img src="http://metalip.com/wp-content/uploads/2016/03/modern-scandinavian-loft-living-room-design-with-upholstered-foamy-black-sofa-added-with-colorful-cushions.jpg" alt=""> <a href="index.html" class="title-slide-03"> <span class="big">Special offer</span> <span class="middle">Save money with Lingerie SALE</span> </a></div>
                    </div>
                </div>
                <div class="banners-block">
                    <div class="item">
                        <a href="#">
                            <img src="http://images.naldzgraphics.net/2012/01/11-Furnicom.jpg" alt="">
                            <div class="banner-text black">
                                100%<br>
                                Organic Wood
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://images.designtrends.com/wp-content/uploads/2016/02/16100509/Royal-Furniture-Logo.jpg" alt="">
                            <div class="banner-text">
                                <div class="inside">
                                    Creative<br>
                                    Designs
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- //end Slider -->
            <!-- Social widgets -->
            <% include ../partials/socialwidgets %>
            <!-- //end Social widgets -->
            <!-- Two columns content -->
            <section class="container content">
                <div class="row">

                    <!-- Left column -->
                    <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">

                        <div class="section-divider"></div>

                        <!-- BEST SELLERS -->
                        <h3><a href="listing.html">BEST SELLERS</a></h3>
                        <div class="products-widget jcarousel-skin-previews vertical">
                            <ul class="slides">
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/96/de/b1/96deb1dae3fde9de7a05e7334a6b31f9.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">Raglan Sleeve Tee Maison Scotch</a></p>
                                        <span class="rating"> </span> <span class="price">$44.95</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/69/44/a2/6944a2f143049e4d8be4ade167dbdb85.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">Raglan Sleeve Tee Maison Scotch</a></p>
                                        <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="price">$44.95</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="http://hative.com/wp-content/uploads/2016/10/behind-couch/1-space-behind-couch.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">V Front Peplum Dress Club L</a></p>
                                        <span class="rating"> </span> <span class="price">$22.95</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/9d/d0/eb/9dd0ebcd13e908de44ccbb2a7e5a294f.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">Raglan Sleeve Tee Maison Scotch</a></p>
                                        <span class="rating"> </span> <span class="price">$44.95</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="http://residencestyle.com/wp-content/uploads/2014/12/Contemporary-Living-Room-Designs-Ideas-White-Sofa.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">Raglan Sleeve Tee Maison Scotch</a></p>
                                        <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="price">$44.95</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="product">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/a7/c3/da/a7c3da858c7a67841ab92b849c4f88a7.jpg" alt=""></a>
                                        <p class="name"><a href="items" class="preview-image">V Front Peplum Dress Club L</a></p>
                                        <span class="rating"> </span> <span class="price">$22.95</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- //end Best Sellers -->
                        <div class="section-divider"></div>

                    </aside>
                    <!-- //end Left column -->
                    <!-- Right column -->
                    <section class="col-sm-8 col-md-9 col-lg-9 content-center">
                        <!-- Featured Products -->
                        <section>
                            <h3>Featured Products</h3>

                            <!-- Products list -->
                            <div class="row products-list">
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/a6/c5/4e/a6c54e1a6eaf7550072850aadc862893.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/96/de/b1/96deb1dae3fde9de7a05e7334a6b31f9.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/9d/d0/eb/9dd0ebcd13e908de44ccbb2a7e5a294f.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/69/44/a2/6944a2f143049e4d8be4ade167dbdb85.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/bb/52/a4/bb52a4eca27d512bf9f0d9dca0e8cfaf.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/a7/c3/da/a7c3da858c7a67841ab92b849c4f88a7.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="http://hative.com/wp-content/uploads/2016/10/behind-couch/1-space-behind-couch.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/96/de/b1/96deb1dae3fde9de7a05e7334a6b31f9.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/af/5a/ac/af5aac91bc96e76bd4e05fb93ec9bec2.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/bb/52/a4/bb52a4eca27d512bf9f0d9dca0e8cfaf.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/9d/d0/eb/9dd0ebcd13e908de44ccbb2a7e5a294f.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/a6/c5/4e/a6c54e1a6eaf7550072850aadc862893.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                                <div class="product-preview">
                                    <div class="preview animate scale">
                                        <a href="items" class="preview-image"><img class="img-responsive animate scale" src="https://s-media-cache-ak0.pinimg.com/736x/af/5a/ac/af5aac91bc96e76bd4e05fb93ec9bec2.jpg" width="270" height="328" alt=""></a>
                                        <ul class="product-controls-list right">
                                            <li><span class="label label-sale">SALE</span></li>
                                            <li><span class="label">-20%</span></li>
                                        </ul>
                                        <ul class="product-controls-list right hide-right">
                                            <li class="top-out"></li>
                                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                        </ul>
                                        <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                    </div>
                                    <h3 class="title"><a href="#">Polly Top Notion</a></h3>
                                </div>
                            </div>
                            <!-- //end Products list -->
                            <!-- Product view compact -->
                            <div class="product-view-ajax">
                                <div class="ajax-loader progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar"></div>
                                </div>
                                <div class="layar"></div>
                                <div class="product-view-container"> </div>
                            </div>
                            <!-- //end Product view compact -->
                        </section>
                        <div class="section-divider"></div>
                    </section>
                    <!-- //end Right column -->

                </div>
            </section>
            <!-- //end Two columns content --> <!-- Social navbar -->
            <section class="content content-border nopad-xs social-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
                            <div class="row">
                                <div class="col-lg-5  col-md-12 col-sm-12 ">
                                    <h3>NEWSLETTER SIGNUP <a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
                                    <p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
                                    <form class="form-inline" role="form">
                                        <div class="form-group input-control">
                                            <button type="submit" class="button"><span class="icon-envelop"></span></button>
                                            <input type="text" class="form-control" value="Your E-mail..." onblur="if (this.value == '') {this.value = 'Your E-mail...';}" onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
                            <h3>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h3>
                            <div class="tabBlock" id="TabBlock-2">
                                <ul class="find-us">
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-facebook-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-twitter-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-linkedin-2"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-youtube-3"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-pinterest-2"></span></a></li>
                                    <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-googleplus-2"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //end Social navbar -->
            <footer>
			<% include ../partials/footer %>
            </footer>
            <div id="outer-overlay"></div>
            <!-- //end Footer -->
        </div>
    </div>
    <% include ../partials/jsfiles %>
    
</html>
