<div class="header" ui-view="headerView"></div>
<div class="pageBody">
    <!-- Breadcrumbs -->
    <section class="container">
        <nav class="breadcrumbs">
            <a href="#/landing">Home</a>  <span class="divider">›</span> <a href="#/store/{{globalStoreId}}">{{globalStoreName}}</a> <span class="divider">›</span> {{gallery.Title}}
        </nav>
    </section>
    <!-- //end Breadcrumbs -->
    <!-- Slider -->
    <section class="main-slider container">
        <div class="owl-slider-outer">
            <a class="owl-slider-prev"></a> <a class="owl-slider-next"></a>
            <div class="owl-slider">
                <div class="item text-center">
                    <img ng-src="{{gallery.DisplayPicture}}" alt="img">
                    <a class="title-slide-01">
                        <span class="big">{{gallery.Title}}</span>
                        <span class="big">{{gallery.Description}}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Slider -->
    <!-- Isotope Products -->
    <section class="container content slider-products">
        <div ng-show="!items.length" class="text-center">
            <h6>No items yet</h6>
        </div>
        <!-- Products list -->

        <div class="row">
            <div class="products-list-isotope">


                <!--Start Feature-->
                <div class="product-preview" ng-repeat="item in items">
                    <div class="preview animate scale">
                        <a href="images/3.jpg" class="fancybox-gallery">
                            <img class="img-responsive animate scale" width="270" height="328" alt="" src="images/3.jpg" ng-src="images/3.jpg">
                        </a>
                        <ul class="product-controls-list right hide-right">
                            <li class="top-out"></li>
                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                        </ul>
                        <a href="images/3.jpg" class="quick-view  fancybox hidden-xs">
                            <span class="rating">
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-empty"></i>
                            </span>
                            <span class="icon-zoom-in-2"></span> Quick View
                        </a>

                        <div class="quick-view visible-xs">
                            <span class="rating">
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-3"></i>
                                <i class="icon-star-empty"></i>
                            </span>
                        </div>
                    </div>
                    <h3 class="title"><a>{{item.Name}}</a></h3>
                    <div class="product-options-outer">
                        <div class="product-options">
                            <i class="icon icon-color icon-color-white" data-href="images/electronics/products/product-11.jpg"></i>
                            <i class="icon icon-color icon-color-beige" data-href="images/electronics/products/product-10.jpg"></i>
                            <i class="icon icon-color icon-color-red" data-href="images/electronics/products/product-05.jpg"></i>
                            <i class="icon icon-color icon-color-pink" data-href="images/electronics/products/product-01.jpg"></i>
                            <i class="icon icon-color icon-color-magneta" data-href="images/electronics/products/product-07.jpg"></i>
                            <i class="disable icon icon-color icon-color-green" data-href="images/electronics/products/product-11.jpg"></i>
                            <i class="disable icon icon-color icon-color-gray"></i> <i class="disable icon icon-color icon-color-brown"></i>
                        </div>
                    </div>
                    <div class="product-options-outer">
                        <div class="product-options">
                            <i class="disable icon icon-size">39</i>
                            <i class="icon icon-size">40</i>
                            <i class="disable icon icon-size">41</i>
                            <i class="icon icon-size">42</i>
                            <i class="icon icon-size">43</i>
                            <i class="icon icon-size">44</i>
                            <i class="icon icon-size">45</i>
                            <i class="disable icon icon-size">46</i>
                        </div>
                    </div>
                </div>

                <!--End Feature-->




            </div>
        </div>
        <!-- //end Products list -->
    </section>

    <!-- //end Isotope Products -->

    <div class="footer" ui-view="footerView"></div>
</div>