<div class="header" ui-view="headerView"></div>
<div class="pageBody">

    <!-- Slider -->
    <section class="main-slider container">
        <div class="owl-slider-outer">
            <a class="owl-slider-prev"></a> <a class="owl-slider-next"></a>
            <div class="owl-slider">
                <div class="item text-center">
                    <img src="storeData.FeaturedPhoto" ng-src="{{storeData.FeaturedPhoto}}" alt="img">
                    <a class="title-slide-01">
                        <span class="big">{{storeData.Fullname}}</span>
                        <span class="middle">{{storeData.StoreName}}</span>
                        <span class="small">{{storeData.Category}}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Slider -->
    <!-- Social widgets -->
    <section class="social-widgets hidden-xs">
        <ul class="items">
            <li class="item item-01 facebook">
                <a href="#" class="tab-icon"><span class="icon-facebook-3"></span></a>
                <div class="tab-content">
                    <div class="title">FACEBOOK</div>
                    <div class="loading"><img src="images/ajax-loader-black.gif" alt="" class="ajaxloader"></div>
                </div>
            </li>
            <li class="item item-02 twitter">
                <a href="#" class="tab-icon"><span class="icon-twitter-3"></span></a>
                <div class="tab-content">
                    <div class="title">twitter</div>
                    <div class="loading"><img src="images/ajax-loader-black.gif" alt="" class="ajaxloader"></div>
                </div>
            </li>
            <li class="item item-03 website">
                <a href="#" class="tab-icon"><span class="icon-globe"></span></a>
                <div class="tab-content">
                    <div class="title">FACEBOOK</div>
                    <div class="loading"><img src="images/ajax-loader-black.gif" alt="" class="ajaxloader"></div>
                </div>
            </li>
        </ul>
    </section>
    <!-- //end Social widgets -->
    <!-- Breadcrumbs -->
    <section class="container">
        <nav class="breadcrumbs">
            <a href="#/landing">Home</a>  <span class="divider">›</span> {{storeData.StoreName}}
        </nav>
    </section>
    <!-- //end Breadcrumbs -->
    <!-- Isotope Products -->
    <section class="container ">
        <!-- Products list -->
        <div ng-show="!galleries.length" class="text-center">
            <h6>No galleries yet</h6>
        </div>
                <div class="row">
                    <div class="product-preview col-sm-4 col-xs-6" ng-click="viewgallery(gallery._id)"
                          ng-repeat="gallery in galleries">
                        <div class="">

                            <!--Start carousel -->
                            <div class="">
                                <img src="gallery.DisplayPicture" class="img-responsive" ng-src="{{gallery.DisplayPicture}}" alt="img">
                            </div>
                            <!--End carousel -->
                        </div>
                        <h3 class="title"><a>{{gallery.Title}}</a></h3>
                    </div>

                </div>
           
        <!-- //end Products list -->
    </section>

    <!-- //end Isotope Products -->
    <div class="footer" ui-view="footerView"></div>
</div>
