<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<script>
    var GalleriesJson = <%-JSON.stringify(GalleriesJson)%>;
    var storeJson = <%-JSON.stringify(storeJson)%>
</script>

<div class="storePage" ng-controller="storeController">
    <!--style="background-image: url(<%= store.CoverPhoto %>);"-->
    <div class="container">
        <div class="pageCover" style="background: url(<%= store.CoverPhoto %>);">

        </div>
        <div class="pageBody" ng-init="init('<%= countryIso %>', '<%= store._id %>')">
            <div class="dvStoreHeader">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvProfileImgContainer">
                            <div class="dvProfileImg">
                                <span class="icon-checkmark-2" ng-class="{'visitedStore': isVisited == true}" title="{{ isVisited ? 'Visited store' : 'Not a visited store'}}"></span>
                                <img class="img-responsive" src="<%= store.ProfilePicture %>" />
                            </div>
                        </div>

                        <div class="dvStoreInfo" title="<%= store.Name %> rate is <%= store.Average %> star{{RateValue}}">
                            <h1><%= store.Name %></h1>
                            <span class="dvRating" ng-show="false">
                                <span class="rating golden" data-default-rating="<%= store.Average %>" data-step="0.1" ng-disabled="isRatedBefore"></span>
                            </span>

                            <input id="input-id" name="input-name" type="number" class="rating" step="1" data-size="xs">


                        </div>




                        <div class="dvFlagContainer">
                            <img alt="Flag" title="<%= store.Country %>" class="img-responsive" src="https://egym.herokuapp.com/<%= store.Country %>.png" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvStoreDescription">
                            <h3><%= store.Description %></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvStoreIcons">
                            <% if (store.Badges) { %>

                            <% if (store.Badges.HasFactory) { %>
                            <img title="Has factory" src="/images/factory.png" />
                            <% } else { %>
                            <img title="No factory" src="/images/nofactory.png" />
                            <% } %>

                            <% if (store.Badges.Verified) { %>
                            <img title="Verified" src="/images/verified.png" />
                            <% } else { %>
                            <img title="Not verified" src="/images/notverified.png" />
                            <% } %>
                            <% } %>

                            <div style="right:15px;position:absolute;" title="{{ loggedUser ? 'Send Message to this store' : 'You have to login first to send a message to stores'}}">
                                <a type="button" ng-disabled="!loggedUser" ng-show="userId != '<%= store._id %>'" href="/<%= countryIso %>/Inbox/{{userId}}/<%= store._id %>" class="btn btn-primary active pull-right sendMsgBtn"> <span>Send Message</span> <span class="fa fa-paper-plane-o"></span></a>
                            </div>
                        </div>

                        <div class="clear">
                        </div>
                    </div>
                </div>

                <div class="dvSectionTitle">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <div class="labelContainer">
                                <h4>Featured products</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dvProductsBlock row">
                    <div class="col-sm-12">

                        <% if (featured.length > 0) { %>
                        <% featured.forEach(function(item){ %>
                        <div class="col-md-2 col-sm-3 wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                            <a href="/{{IsoCode}}/Product/<%= item.Name %>/<%= item._id %>">
                                <div class="dvItemContainer text-center">
                                    <img src="<%= item.Pictures[0].URL %>" class="img-responsive" />
                                    <div class="dvItemDescription">
                                        <h1><%= item.Name %></h1>
                                        <h6><%= item.Description %></h6>
                                        <h2>$ <%= item.Price %></h2>
                                        <h5>Product details</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                        <% } else { %>
                        <p class="txtNoData"> No featured products available </p>
                        <% } %>

                    </div>
                </div>

                <div ng-repeat="gallery in GalleriesLst">

                    <div class="dvAdvcontainer">
                        <img class="img-responsive" src="/images/adv1.png" />
                    </div>

                    <div class="dvSectionTitle">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <div class="labelContainer">
                                    <h4>{{gallery.Gallery}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dvProductsBlock row">
                        <div class="col-sm-12">

                            <div ng-repeat="item in gallery.Items" class="col-md-2 col-sm-3 wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                                <a href="/{{IsoCode}}/Product/{{item.Name}}/{{item._id}}">
                                    <div class="dvItemContainer text-center">
                                        <img src="{{item.Pictures[0].URL}}" class="img-responsive" />
                                        <div class="dvItemDescription">
                                            <h1>{{item.Name}}</h1>
                                            <h6>{{item.Description}}</h6>
                                            <h2>$ {{item.Price}}</h2>
                                            <h5>Product details</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <p ng-show="!GalleriesLst.length > 0" class="txtNoData"> No galleries available </p>

                <div class="dvAdvcontainer">
                    <img class="img-responsive" src="/images/adv2.PNG" />
                </div>

            </div>
        </div>
    </div>


    <% include ../partials/pagefooter %>
    <% include ../partials/pageend %>
    <script src="/scripts/store.js"></script>




    <!-- Social widgets -->
    <div>
        <section class="social-widgets hidden-xs">
            <ul class="items">
                <li class="item item-01 facebook">
                    <a href="/social/facebook.html" class="tab-icon">
                        <span class="icon-facebook-3"></span>
                    </a>
                    <div class="tab-content">
                        <div class="title">Facebook</div>
                        <div class="loading">
                            <!--<img src="/images/ajax-loader.gif" class="ajaxloader" alt="loader">-->

                            <div class="fb-like-box" data-href="" data-width="240" data-height="240" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>

                            <!-- Facebook Api -->
                            <div id="fb-root"></div>

                            <!-- //end Facebook Api -->
                        </div>
                    </div>
                </li>

                <li class="item item-02 twitter">
                    <a href="/social/twitter.html" class="tab-icon">
                        <span class="icon-twitter-3"></span>
                    </a>
                    <div class="tab-content">
                        <div class="title">Twitter feeds</div>
                        <div class="loading">
                            <div class="twitter-widget">
                                <a class="twitter-timeline" href="">Tweets</a>
                                <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="item item-03 twitter dvContactData">
                    <a href="/social/googlemap.html" class="tab-icon">
                        <span class="icon-vcard"></span>
                    </a>
                    <div class="tab-content">
                        <div class="title">Find us</div>
                        <div class="loading">
                            <!--<img src="/images/ajax-loader.gif" class="ajaxloader" alt="loader">-->
                            <div class="twitter-widget contacts-widget">
                                <ul>
                                    <li ng-repeat="contact in Contacts" ng-show="contact.Label !='Facebook' && contact.Label !='Twitter'">
                                        <b>{{contact.Label}}</b>&nbsp;:&nbsp;<span>{{contact.Value}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- //end Social widgets -->
    </div>

    </body>

    </html>
