<ul class="sidebar-nav">
    <div class="clear"></div>
    <li class="sidebar-brand">
        <div class="row">
            <a href="#/" ng-push-menu="menu">
                <div class="col-xs-6">
                    <h6 class="txtMenuItem">My Galleries</h6>
                </div>
                <div class="col-xs-6 text-center">
                    <img fallbacksrc src="images/galleriesicon.png" class="imgMenuItem" />
                </div>
            </a>
        </div>
    </li>
    <div class="clear"></div>
    <li class="sidebar-brand">
        <div class="row">
            <a href="#/" ng-push-menu="menu">
                <div class="col-xs-6">
                    <h6 class="txtMenuItem">New Gallery</h6>
                </div>
                <div class="col-xs-6 text-center">
                    <img fallbacksrc src="images/galleryicon.png" class="imgMenuItem" />
                </div>
            </a>
        </div>
    </li>
</ul>
