
/*animation*/
.ng-enter:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-enter-active:not(.animated) {
    opacity: 1;
}

.ng-leave:not(.animated) {
    transition: all linear 500ms;
    opacity: 0;
}

.ng-leave-active:not(.animated) {
    opacity: 0;
    transform: translate3d(0, 0, 0);
}

.showMe {
    display: block;
    opacity: 1;
    top: 100px;
    overflow: visible;
}

.hide {
    display: none;
}

/* Contact us section  */
.socialNavBar{
    background-color:rgba(158, 158, 158, 0.29) !important;
} 


/*scroll*/
::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px; /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #777; /*bar color*/
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #ccc; /*background color*/
}

.product-preview {
    cursor:pointer;
}
.owl-slider{
    min-height: 200px;
}

.owl-slider .owl-item .item img {
    width: auto !important;
    min-height: 150px !important;
}

.owl-slider .owl-item .item
{
    background:#777!important;
}
.main-slider .owl-slider .title-slide-01 .big {
    opacity:0.7;
    background:#000;
}
 
.main-slider .owl-slider .title-slide-01 .middle{
        color: #000;
    text-shadow: 0px 0px 0px #ffffff;
    font-size: 12px;
}

.main-slider .owl-slider .title-slide-01 .small{
    color:#333;
    font-size:10px;
}

.img-responsive {
    height: 200px;
    margin:0 auto;
}


/*Loader*/
.loaderContainer {
    position: fixed;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.loader {
    position: fixed;
    left: 50%;
    top: 48%;
    z-index: 10000;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #777;
    border-bottom: 16px solid #777;
    border-radius: 50%;
    -webkit-animation: spin 0.9s linear infinite;
    animation: spin 0.9s linear infinite;
    background-color:transparent !important;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


