<md-card>
    <md-toolbar class="padding-20 text-center">
        <img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
        <h1 class="md-headline" >Sign up</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <form name="signup">
            <md-input-container class="md-block">
                <label for="name" >store name</label>
                <input id="name" label="name" name="name" type="text" ng-model="vm.user.name" required/>
                <div ng-messages="signup.name.$error" md-auto-hide="false" ng-show="signup.name.$touched">
                    <div ng-message when="required">
                        <span >Please enter your name</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="name">category</label>
                <input id="category" label="category" name="category" type="text" ng-model="vm.user.category" required />
                <div ng-messages="signup.category.$error" md-auto-hide="false" ng-show="signup.category.$touched">
                    <div ng-message when="required">
                        <span>Please enter your category</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="name">full name</label>
                <input id="fullName" label="fullName" name="fullName" type="text" ng-model="vm.user.fullName" required />
                <div ng-messages="signup.fullName.$error" md-auto-hide="false" ng-show="signup.fullName.$touched">
                    <div ng-message when="required">
                        <span>Please enter your full name</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="email" >email</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                <div ng-messages="signup.email.$error" md-auto-hide="false" ng-show="signup.email.$touched">
                    <div ng-message when="required">
                        <span >Please enter your email address</span>
                    </div>
                    <div ng-message when="email">
                        <span >Please enter a valid email address</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password" >password</label>
                <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="signup.confirm" ng-minlength="8" required/>
                <ng-messages for="signup.password.$error" md-auto-hide="false" ng-show="signup.password.$touched">
                    <div ng-message when="required">
                        <span >Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span >Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span >You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password" >confirm password</label>
                <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" tri-same-password="signup.password" ng-minlength="8" required/>
                <ng-messages for="signup.confirm.$error" md-auto-hide="false" ng-show="signup.confirm.$touched">
                    <div ng-message when="required">
                        <span >Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span >Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span >You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>

            <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.signupClick()" ng-disabled="signup.$invalid"  aria-label="Sign Up">Sign Up</md-button>

            <md-button  class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/login" aria-label="Already have an account? Login here">Already have an account? Login here</md-button>

        </form>
    </md-content>

</md-card>
